/* import colors and mixins*/
@use "~../../../../../scss/helpers/colors" as *;
@use "~../../../../../scss/helpers/mixins" as *;

[class$="-info"] {
  font-family: map-get($map: $fonts, $key: paragraphFont) !important;
  color: $white;
  flex: content;
}
[class$="__content"] {
  padding: 0 40px;
}

[class$="__title"] {
  border: 1px solid $dashboard-admin-titles !important;
  background: $dashboard-admin-titles !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
}

[class$="__p"] {
  font-size: 1.3rem;
  margin: 0;
  padding: 7px 0;
  color: $white;
}
[class$="__label"] {
  font-size: 1.2rem !important;
  margin-bottom: 0;
  color: $white !important;
}
.form-control {
  background: transparent !important;
  font-size: 1.1rem !important;
  color: $white !important;
  border: none !important;
  border-bottom: 1px solid $gray-color-brightness !important;
  border-radius: 0 !important;
  &::placeholder {
    color: $gray-color-brightness !important;
    font-size: 1.1rem !important;
    @include BreakPoint(xlg) {
      font-size: 0.8rem !important;
    }
  }
  &:focus {
    box-shadow: 0 0 0 !important;
  }
}
[class$="__field"] {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  width: 40% !important;
  @include BreakPoint(lg) {
    width: 100% !important;
  }
}
[class$="-content-fields"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
[class$="__a"] {
  text-decoration: none;
  color: $white;
  font-family: map-get($map: $fonts, $key: paragraphFont);
}

.personal-info {
  font-family: map-get($map: $fonts, $key: paragraphFont);
  color: $white;
  flex: content;
  &__content {
    padding: 0 40px;
    &__generate-information {
      &__form {
        &__form-check-parent {
          display: flex;
          flex-direction: column;
          &__checks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 12rem;
            &__check {
              margin-right: 20px;
              &__input-ratio {
                margin-right: 0.5rem;
                border: 3px solid $gray-color;
                background-color: $dashboard-admin;
                &:focus {
                  box-shadow: 0 0 0 !important;
                }
              }
              &__label-ratio {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
    &__Birthday-information {
      &__form {
        &__Birthday-content-fields {
          &__field {
            &__i {
              position: absolute;
              bottom: 1.5rem;
              right: 0;
              font-size: 1.1rem;
              pointer-events: none;
              color: $dashboard-admin-titles;
            }
          }
        }
      }
    }
    &__Health-information {
      &__form-diseases-result {
        &__diseas {
          display: flex;
          margin-right: 10px;
          align-items: center;
          flex-direction: row;

          &__p {
            background-color: $white;
            color: $dashboard-admin-titles;
            margin: 0 !important;
            padding: 0.4rem 2rem !important;
            font-size: 0.8rem !important;
            margin-right: 20px !important;
            border-radius: 8px !important;
          }
        }
      }
    }
  }
}
