/* import colors and mixins*/
@use "~../../../../../scss/helpers/colors" as *;
@use "~../../../../../scss/helpers/mixins" as *;
[class$="-info"] {
  font-family: map-get($map: $fonts, $key: paragraphFont);
  color: $white;
  flex: content;
}
[class$="__content"] {
  padding: 0 40px;
}

[class$="__title"] {
  border: 1px solid $dashboard-admin-titles;
  background: $dashboard-admin-titles;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
}

[class$="__p"] {
  font-size: 1.3rem;
  margin: 0;
  padding: 7px 0;
}
[class$="__label"] {
  font-size: 1.2rem !important;
  margin-bottom: 0;
  color: $white;
}
[class$="__input"] {
  background: transparent;
  font-size: 1.2rem;
  color: $white;
  border: none;
  border-bottom: 1px solid $gray-color-brightness;
  border-radius: 0;
  &::placeholder {
    color: $gray-color-brightness;
    font-size: 1.1rem;
  }
  &:focus {
    box-shadow: 0 0 0 !important;
  }
}
[class$="__field"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}
[class$="-content-fields"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
