<div class="row">
  <div class="col-12">
    <div class="row pe-3">
      <div class="col-1 custom-col-tabs">
        <div class="personal-tabs">
          <div class="personal-tabs__tab" routerLinkActive="active" [routerLink]="['familySearchedInfo']">
            <a  class="personal-tabs__tab__a" > Family Information </a>
          </div>
          <div class="personal-tabs__tab" routerLinkActive="active" [routerLink]="['userSearchedInfo']">
            <a class="personal-tabs__tab__a" >User Information</a>
          </div>
        </div>
      </div>
      <div class="col-11 pt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
