/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

.personal-tabs {
  display: flex;
  flex-direction: row;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: $white;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__tab{
    padding: 90px 10px;
    border: 1px solid $dashboard-admin-titles;
    margin-bottom: 50px;
    border-radius: 5px;
    cursor: pointer;
    &__a{
      font-size: 1.3rem;
    }
  }
}
.profile-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 82px 20px 9rem;
  &__button {
    background: $main-color-brightness;
    border-radius: 5px;
    border: 2px solid $dashboard-admin-titles;
    background: $dashboard-admin-titles;
      padding: 0.6rem 1rem;
    margin-right: 10px;
    font-size: 1.4vw;
    font-family: map-get($map: $fonts, $key: paragraphFont);
    cursor: pointer;
    color: white;
  }
}

.active{
  background-color: $dashboard-admin-titles !important;

}
