/*
  ==========================================================================
                    Footer
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;

.Footer {
  padding: 100px 43.2px 15px 43.2px;
  margin-top: 216px;
  font-family: "BalooBhaijaan2Regular";
  font-size: 21.6px;

  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 16.6px;
  }
  @include screen(md) {
    font-size: 19.6px;
  }
  @include screen(lg) {
    font-size: 20.6px;
  }

  &__ul {
    list-style: none;
    margin-top: 12px;
    padding-left: 0;

    @include custem-screen(md, lg) {
      margin-top: 60px;
    }
    @include custem-screen(xxs, lg) {
      display: grid;
      justify-content: center;
    }

    li {
      margin-top: 1.45rem;

      @include custem-screen(xxs, md) {
        margin-top: 0px;
      }
      a {
        color: $white;
      }
    }
  }
  &__form-inside-footer {
    text-align: center;

    @include custem-screen(sm, lg) {
      padding: 0 47px;
    }
    &__data-container-div {

      @include custem-screen(xxs, lg) {
        width: 100%;
        border: 2px solid $white;
        border-radius: 11px;
      }
      @include custem-screen(xxs, md) {
        margin-bottom: 20px;
      }

      &__input {
        width: 100%;
        padding: 5px 0 5px 0 ;
        background-color: transparent;
        color: $gray-color-brightness;
        font-size: 24px;
        border: none ;
        border-bottom: 2px solid $gray-color-brightness;
        outline: none;

        @include BreakPoint(md) {
          width: 80%;
          padding: 0 30px;
          border: none !important;
          border-radius: 11px !important;
          color: $white;
        }
        @include screen(xxs) {
          font-size: 12.6px;
        }
        @include screen(xs) {
          font-size: 15.6px;
        }
        @include screen(sm) {
          font-size: 21px;
        }
        @include screen(lg) {
          font-size: 20px;
          width: 237.15px;
        }
      }
      &__button {
        width: 100%;
        border-radius: 0 ;
        background-color: $white !important;
        color: $main-color;
        margin-top: 1.5rem;
        border: none;
        outline: none;
        padding: 5px 0 5px 0;
        font-size: 29px;

        @include BreakPoint(md) {
          width: 20% !important;
          border: none !important;
          margin-top: 0;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        @include screen(xxs) {
          font-size: 12.6px;
        }
        @include screen(xs) {
          font-size: 15.6px;
        }
        @include screen(sm) {
          font-size: 21px;
        }
        @include screen(lg) {
          font-size: 20px;
          width: 237.15px;
        }
      }

    }
  }
  &__copyright {
    position: relative;
    top: 2rem;
  }
}
