/*
  ==========================================================================
                    Footer
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;

footer {
  /* footer properities */
  padding: 100px 43.2px 15px 43.2px;
  margin-top: 216px;
  font-family: "BalooBhaijaan2Regular";
  font-size: 21.6px;
  /* footer responsive properities */
  @include footer-properities;

  ul {
    list-style: none;
    margin-top: 12px;
    padding-left: 0;
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      margin-top: 60px;
    }
    @media (max-width: 991.98px) {
      display: grid;
      justify-content: center;
    }
  }
  li {
    &:not(:first-child) {
      margin-top: 1.45rem;
      // Medium devices (tablets, less than 992px)
      @media (max-width: 767.98px) {
        margin-top: 0px;
      }
    }
    a {
      color: $white;
    }
  }
  .form-inside-footer {
    text-align: center;
    input {
      /* input properities of the left search form div */
      width: 100%;
      padding: 5px 0 5px 0;
      background-color: transparent;
      color: $gray-color-brightness;
      font-size: 24px;
      border: none;
      border-bottom: 2px solid $gray-color-brightness;
      outline: none;
      /* input properities */
      @include input-form-properities;
    }
    .submit-btn-inside-footer {
      /* btn in the footer */
      width: 100%;
      border-radius: 0;
      background-color: $white !important;
      color: $main-color;
      margin-top: 1.5rem;
      border: none;
      outline: none;
      padding: 5px 0 5px 0;
      font-size: 29px;
      /* btn in the footer properities */
      @include footer-form-btn;
    }
    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
      .div-contain-form-data {
        width: 100%;
        // Medium devices (tablets, less than 992px)
        @media (max-width: 991.98px) {
          border: 2px solid $white;
          border-radius: 11px;
        }
        @media (max-width: 767.98px) {
          margin-bottom: 20px;
        }
      }
    }
    // Medium devices (tablets, less than 992px)
    @media (min-width: 575.98px) and (max-width: 991.98px) {
      padding: 0 47px;
    }
  }
  .copyright {
    position: relative;
    top: 2rem;
  }
}
