<footer class="Footer bg-b-blue text-s-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6 ">
        <ul class="Footer__ul">
          <li>
            <a rel="nofollow"href="#">Home</a>
          </li>
          <li>
            <a rel="nofollow"href="#">FAQ</a>
          </li>
          <li>
            <a rel="nofollow"href="#">Documentation</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-6 ">
        <ul class="Footer__ul">
          <li>
            <a rel="nofollow"href="#">Terms of use</a>
          </li>
          <li>
            <a rel="nofollow"href="#">Privacy policy </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <ul class="Footer__ul">
          <li>
            <a rel="nofollow"href="#">+20-064-2532523</a>
          </li>
          <li>
            <a rel="nofollow"href="#">service@office.eg </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12 order-lg-last order-first">
        <form class="Footer__form-inside-footer">
          <div class="Footer__form-inside-footer__data-container-div">
            <input class="Footer__form-inside-footer__data-container-div__input" type="text" placeholder="ervice@office.eg">
            <button class="Footer__form-inside-footer__data-container-div__button bg-s-white" type="submit"
              (click)="ToLogin()">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="Footer__copyright text-center">
    <p>
      ©Fingerprint Authentication 2021 - 2022 All rights reserved
    </p>
  </div>
</footer>
