<nav class="navbar navbar-expand-lg navbar-light justify-content-flex-start flex-row ">
  <!-- // Logo in navbar -->
  <a class="navbar__brand-link" href="#">
    <img src="../../assets/logo/Fingerprint_.png" alt="" class="navbar__brand-link__img" />
  </a>
  <!-- // logo text  -->
  <a class="navbar__brand-link me-auto" href="#">
    <a href="" class="navbar__brand-link__a ms-2 text-b-blue">Fingerprint Authentication</a>
  </a>
  <!-- // Toggle -->
  <button class="navbar__toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="bi bi-three-dots-vertical navbar__toggler__span text-b-blue"></span>
  </button>
  <!-- links -->
  <div class="collapse navbar-collapse ms-auto flex-grow-0 navbar__collapse " id="navbarSupportedContent">
    <ul class="navbar__collapse__nav navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Documentation</a>
      </li>
      <li class="nav-item" [hidden]="true">
        <a class="nav-link" href="#">Documentation</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Login" class="btn btn-primary navbar__collapse__nav__login-button ml-2 " *ngIf="!isLoggedIn">Log in</a>
        <a class="btn btn-primary navbar__collapse__nav__login-button ml-2 " *ngIf="isLoggedIn" (click)="Logout()">Sign Out</a>
      </li>
    </ul>

  </div>
</nav>
