<nav class="navbar navbar-expand-lg navbar-light justify-content-flex-start flex-row ">
  <!-- // Logo in navbar -->
  <a class="navbar-brand-img" href="#">
      <img src="../../assets/logo/Fingerprint_.png" alt="" />
  </a>
  <!-- // logo text  -->
  <a class="navbar-brand" href="#">
      <a href="" class="brand-text ms-2 text-b-blue">Fingerprint Authentication</a>
  </a>
  <!-- // Toggle -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- // links -->
  <div class="collapse navbar-collapse ms-auto me-1 flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Documentation</a>
          </li>
          <li class="nav-item" [hidden]="true">
              <a class="nav-link" href="#">Documentation</a>
          </li>
          <li class="nav-item" [hidden]="true">
              <a class="nav-link" href="#">Documentation</a>
          </li>
      </ul>
      <!-- // button to login -->
      <button class="btn btn-primary nav-login-button ml-2">Log in</button>
  </div>
</nav>
