/*
  ==========================================================================
                     Navbar
  =========================================================================
*/

/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;
/*
  ==========================================================================
                     Navbar
  =========================================================================
*/
@include fonts;

.navbar {
  padding: 83px 0 0 97.3333px;
  position: relative;
  // X-Large devices (large desktops, less than 1400px)
  @media (max-width: 1399.98px) {
    padding: 83px 0 0 39.3333px;
  }
  @media (max-width: 991.98px) {
    #navbarSupportedContent {
      position: absolute;
      top: 129px;
      right: 63px;
      background-color: $nav-dropdown;
      border-radius: 14.6667px;
      .btn {
        background: transparent !important;
        box-shadow: none;
        color: $main-color;
        padding: 0 !important;
        width: 114px;
      }
    }
  }

  .navbar-brand-img {
    img {
      position: relative;
      width: 82.43px;
      height: 82.43px;
      display: inline-block;

      // X-Small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) {
        width: 42.6px;
        height: 42.6px;
      }

      // Small devices (landscape phones, less than 768px)
      @media (min-width: 575.98px) and (max-width: 767.98px) {
        width: 46.6px;
        height: 46.6px;
      }

      // Medium devices (tablets, less than 992px)
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        width: 50.6px;
        height: 50.6px;
      }

      // Large devices (desktops, less than 1200px)
      @media (min-width: 991.98px) and (max-width: 1199.98px) {
        width: 54.6px;
        height: 54.6px;
      }

      // X-Large devices (large desktops, less than 1400px)
      @media (min-width: 1199.98px) and (max-width: 1399.98px) {
        width: 58.6px;
        height: 58.6px;
      }
    }
  }
  .navbar-brand {
    .brand-text {
      font-size: 49px;
      // line-height: 2.375rem;
      letter-spacing: -0.07375rem;
      // width: 567px;
      // height: 59px;
      display: inline-block;
      position: relative;
      // top: 12px;

      // X-Small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) {
        font-size: 15.4px;
      }

      // Small devices (landscape phones, less than 768px)
      @media (min-width: 575.98px) and (max-width: 767.98px) {
        font-size: 26.4px;
      }
      // Medium devices (tablets, less than 992px)
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        font-size: 28.4px;
      }

      // Large devices (desktops, less than 1200px)
      @media (min-width: 991.98px) and (max-width: 1199.98px) {
        font-size: 30.4px;
      }

      // X-Large devices (large desktops, less than 1400px)
      @media (min-width: 1199.98px) and (max-width: 1399.98px) {
        font-size: 35.4px;
      }
    }
  }
  .navbar-nav {
    @media (max-width: 991.98px) {
      padding: 43px 0;
    }
    @media (min-width: 991.98px) {
      display: contents;
    }
    .nav-link {
      font-size: 30px;
      padding-right: 32px;
      padding-left: 24px;
      line-height: 23px;
      letter-spacing: -0.72px;
      text-align: left;
      color: $black !important;

      // X-Small devices (portrait phones, less than 576px)
      @media (max-width: 575.98px) {
        font-size: 22px;
        font-weight: bold;
        margin-top: 23px !important;
      }

      // Small devices (landscape phones, less than 768px)
      @media (min-width: 575.98px) and (max-width: 767.98px) {
        font-size: 25px;
        font-weight: bold;
        margin-top: 23px !important;
      }
      // Medium devices (tablets, less than 992px)
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        font-size: 25px;
        font-weight: bold;
        margin-top: 23px !important;
      }

      // Large devices (desktops, less than 1200px)
      @media (min-width: 991.98px) and (max-width: 1199.98px) {
        font-size: 18px;
        padding-right: 19.2px;
        padding-left: 5.2px;
      }

      // X-Large devices (large desktops, less than 1400px)
      @media (min-width: 1199.98px) and (max-width: 1399.98px) {
        font-size: 21px;
        padding-right: 25.6px;
        padding-left: 5.2px;
      }
    }
  }
  .btn.nav-login-button {
    width: 313px;
    padding: 15px;
    font-size: 30px;
    margin-right: 10px !important;
    font-family: "SFUI";
    box-shadow: 0 0 1.6rem $shadow-color;
    // X-Small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
      font-size: 22px;
      font-weight: bold;
      margin-top: 23px !important;
    }

    // Small devices (landscape phones, less than 768px)
    @media (min-width: 575.98px) and (max-width: 767.98px) {
      font-size: 25px;
      font-weight: bold;
      margin-top: 23px !important;
    }

    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      font-size: 25px;
      font-weight: bold;
      margin-top: 23px !important;
    }

    // Large devices (desktops, less than 1200px)
    @media (min-width: 991.98px) and (max-width: 1199.98px) {
      width: 187.8px;
      font-size: 18px;
      margin-right: 28px !important;
    }

    // X-Large devices (large desktops, less than 1400px)
    @media (min-width: 1199.98px) and (max-width: 1399.98px) {
      width: 202.4px;
      font-size: 22px;
      margin-right: 25px !important;
    }
  }
  .navbar-toggler {
    border: none !important;
    span {
      font-size: 42px;
      @media (max-width: 575.98px) {
        font-size: 33px;
      }
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}
