/*
  ==========================================================================
                     Navbar
  =========================================================================
*/

/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;
/*
  ==================================
                     Navbar
  ==================================
*/
@include fonts;

.navbar {
  padding: 40px 95px;
  position: relative;
  @include custem-screen(sm, xxlg) {
    padding: 40px 35px;
  }
  @include BreakPoint(xs) {
    padding: 40px 13px;
  }
  @include BreakPoint(md) {
    #navbarSupportedContent {
      position: absolute;
      top: 82px;
      right: 63px;
      background-color: $nav-dropdown;
      border-radius: 14.6667px;
      .btn {
        background: transparent !important;
        box-shadow: none;
        color: $main-color;
      }
    }
  }
  .navbar-brand-img {
    img {
      position: relative;
      width: 75.43px;
      width: 75.43px;
      display: inline-block;

      @include BreakPoint(xxs) {
        width: 29.6px;
        height: 29.6px;
      }

      @include custem-screen(xs, sm) {
        width: 42.6px;
        height: 42.6px;
      }
      @include custem-screen(sm, md) {
        width: 46.6px;
        height: 46.6px;
      }
      @include custem-screen(md, lg) {
        width: 50.6px;
        height: 50.6px;
      }
      @include custem-screen(lg, xlg) {
        width: 54.6px;
        height: 54.6px;
      }
      @include custem-screen(xlg, xxlg) {
        width: 58.6px;
        height: 58.6px;
      }
    }
  }
  .navbar-brand {
    .brand-text {
      font-size: 42px;
      letter-spacing: -0.07375rem;
      display: inline-block;
      position: relative;

      @include BreakPoint(xxs) {
        font-size: 15px;
      }
      @include custem-screen(xs, sm) {
        font-size: 20px;
      }
      @include custem-screen(sm, md) {
        font-size: 26.4px;
      }
      @include custem-screen(md, lg) {
        font-size: 28.4px;
      }
      @include custem-screen(lg, xlg) {
        font-size: 30.4px;
      }
      @include custem-screen(xlg, xxlg) {
        font-size: 35.4px;
      }
    }
  }
  .navbar-nav {
    @media (max-width: 380px) {
      padding: 5px 0;
    }
    @media (min-width: 380px) and (max-width: 991.98px) {
      padding: 43px 0;
    }
    @media (min-width: 991.98px) {
      display: contents;
    }
    .nav-link {
      font-size: 22px;
      padding-right: 32px;
      padding-left: 24px;
      line-height: 23px;
      letter-spacing: -0.72px;
      text-align: left;
      color: $black !important;

      @include BreakPoint(xxs) {
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px !important;
      }
      @include custem-screen(xs, sm) {
        font-size: 22px;
        font-weight: bold;
        margin-top: 23px !important;
      }
      @include custem-screen(sm, md) {
        font-size: 25px;
        font-weight: bold;
        margin-top: 23px !important;
      }
      @include custem-screen(md, lg) {
        font-size: 25px;
        font-weight: bold;
        margin-top: 23px !important;
      }
      @include custem-screen(lg, xlg) {
        font-size: 18px;
        padding-right: 19.2px;
        padding-left: 5.2px;
      }
      @include custem-screen(xlg, xxlg) {
        font-size: 21px;
        padding-right: 25.6px;
        padding-left: 5.2px;
      }
    }
  }
  .btn.nav-login-button {
    font-size: 21px;
    font-family: "SFUI";
    box-shadow: 0 0 1.6rem $shadow-color;
    margin: 0;
    width: 221px;
    padding: 16px;

    @include BreakPoint(xxs) {
      font-size: 15px;
      font-weight: bold;
      margin-top: 10px !important;
      width: 93px;
    }
    @include custem-screen(xs, sm) {
      width: 119px;
      font-size: 20px;
      font-weight: bold;
      margin-top: 11px !important;
    }
    @include custem-screen(sm, md) {
      font-size: 25px;
      width: 119px;
      font-weight: bold;
      margin-top: 23px !important;
    }
    @include custem-screen(md, lg) {
      font-size: 25px;
      font-weight: bold;
      width: 119px;
      margin-top: 23px !important;
    }
    @include custem-screen(lg, xlg) {
      width: 187.8px;
      font-size: 18px;
    }
    @include custem-screen(xlg, xxlg) {
      width: 202.4px;
      font-size: 22px;
    }
  }
  .navbar-toggler {
    border: none !important;
    span {
      font-size: 42px;
      @media (max-width: 575.98px) {
        font-size: 33px;
      }
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}
