/*
  ==========================================================================
                     Navbar
  =========================================================================
*/

/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;

@include fonts;

.navbar {
  padding: 40px 95px;
  position: relative;
  @include custem-screen(sm, xxlg) {
    padding: 40px 35px;
  }
  @include BreakPoint(xs) {
    padding: 40px 13px;
  }
  &__brand-link {
    &__img {
      position: relative;
      width: 75.43px;
      width: 75.43px;
      display: inline-block;

      @include BreakPoint(xxs) {
        width: 29.6px;
        height: 29.6px;
      }

      @include custem-screen(xs, sm) {
        width: 42.6px;
        height: 42.6px;
      }
      @include custem-screen(sm, md) {
        width: 46.6px;
        height: 46.6px;
      }
      @include custem-screen(md, lg) {
        width: 50.6px;
        height: 50.6px;
      }
      @include custem-screen(lg, xlg) {
        width: 54.6px;
        height: 54.6px;
      }
      @include custem-screen(xlg, xxlg) {
        width: 58.6px;
        height: 58.6px;
      }
    }
  }
  &__brand-link {
    &__a {
      font-size: 2.2rem;
      letter-spacing: -0.07375rem;
      display: inline-block;
      position: relative;
    }
  }
  &__toggler {
    border: none !important;
    &__span {
      font-size: 3.4rem;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  &__collapse {
    @include BreakPoint(md) {
      position: absolute;
      top: 90px;
      right: 63px;
      background-color: $nav-dropdown;
      border-radius: 14.6667px;
    }
    &__nav {
      @media (max-width: 380px) {
        padding: 5px 0;
      }
      @include custem-screen(xs, xlg){
        padding: 20px 0;
      }
      @media (min-width: 991.98px) {
        display: contents;
      }
      .nav-link {
        font-size: 1.2rem;
        padding-right: 1rem;
        padding-left: 2rem;
        line-height: 23px;
        letter-spacing: -0.72px;
        text-align: left;
        color: $black !important;
        @include BreakPoint(md){
          font-size: 1.8rem;
          font-weight: bold;
          margin-top: 1rem;
          padding-right: 2rem;
        }
      }
      &__login-button {
        font-size: 1.2rem;
        font-family: map-get($fonts, labelFont);
        box-shadow: 0 0 1.6rem $shadow-color;
        margin: 0;
        padding: 16px 63px;
        @include BreakPoint(md) {
          background: transparent !important;
          box-shadow: none;
          color: $main-color;
          font-size: 1.8rem;
          padding: 16px 23px;
          margin-top: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
