/*
  ==========================================================================
                    Confirm
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

/*==============================================================================
              Confirm form
===============================================================================*/
.confirm-password {
  &__content {
    @media (min-width: 1400px) {
      padding: 0px 0 97px 0 !important;
    }
    &__background {
      &__title {
        right: 22%;
        top: 25%;
        letter-spacing: 24.76px;

        @include screen(xxs) {
          letter-spacing: 2.86px;
          right: 19%;
          top: 11%;
        }
        @include screen(xs) {
          letter-spacing: 5.86px;
          right: 19%;
          top: 19%;
        }
        @include screen(sm) {
          right: 23%;
          top: 22%;
          letter-spacing: 10.86px;
        }
        @include screen(md) {
          right: 19%;
          top: 18%;
          letter-spacing: 12.58px;
        }
        @include screen(lg) {
          right: 22%;
          top: 17%;
        }
        @include screen(xlg) {
          right: 22%;
          top: 24%;
        }

        &__p {
          font-size: 63px;

          @include screen(xxs) {
            font-size: 16px;
          }
          @include screen(xs) {
            font-size: 18px;
          }
          @include screen(sm) {
            font-size: 25px;
          }
          @include screen(md) {
            font-size: 32px;
          }
          @include screen(lg) {
            font-size: 40px;
          }
          @include screen(xlg) {
            font-size: 53px;
          }
        }
      }
    }
    &__image-div {
      width: 545.28px;

      @include screen(xxs) {
        width: 135px;
      }
      @include screen(xs) {
        width: 184px;
      }
      @include screen(sm) {
        width: 222.03px;
      }
      @include screen(md) {
        width: 250px;
      }
      @include screen(lg) {
        width: 347px;
      }
      @include screen(xlg) {
        width: 380.28px;
      }
    }
    &__form {
      width: 70%;
      margin: 0px auto 0 auto;

      @include screen(xxs) {
        width: 90%;
        margin: 15px auto 0 auto;
      }
      @include custem-screen(xs, md) {
        width: 80%;
        margin: 15px auto 0 auto;
      }
      @include screen(md) {
        width: 70%;
        margin: 11px auto 0 auto;
      }

      &__input-div {
        margin-bottom: 25px !important;

        @include screen(xxs) {
          margin-bottom: 10px !important;
        }
        @include screen(xs) {
          margin-bottom: 6px !important;
        }
        @include screen(sm) {
          margin-bottom: 16px !important;
        }
        @include custem-screen(md, xxlg) {
          margin-bottom: 8px !important;
        }

        &__password {
          position: relative;
          &__input {
            font-size: 40px;
            @include screen(xlg){
            font-size: 20px;
              height: 50px;

            }
            @include screen(lg) {
              font-size: 20px;
              height: 50px;
            }
            @include screen(xs) {
              margin-bottom: 10px !important;
              font-size: 20px;
            }
            &::placeholder {
              font-size: 20px;
              @include screen(xs) {
                font-size: 15px;
              }
              @include screen(xxs) {
                font-size: 12px;
              }
              @include screen(xlg) {
                font-size: 20px;
              }
            }
          }
          &__password-icon {
            position: absolute;
            width: 27.33px;
            height: 27.46px;
            top: 62px;
            right: 21px;

            @include screen(xxs) {
              width: 15.33px;
              height: 15.46px;
              right: 10px;
              top: 45px;
            }
            @include screen(xs) {
              width: 17.33px;
              height: 14.46px;
              right: 18px;
              top: 50px;
            }
            @include screen(sm) {
              width: 20.33px;
              height: 20.46px;
              right: 19px;
              top: 54px;
            }
            @include screen(md) {
              width: 25.33px;
              height: 25.46px;
              right: 19px;
              top: 55px;
            }
            @include screen(lg) {
              width: 21.33px;
              height: 29.46px;
              top: 41px;
              right: 16px;
            }
            @include screen(xlg) {
              width: 20.33px;
              height: 31.46px;
              top: 43px;
            }
          }
          &__label {
            font-size: 25px;
            color: $gray-color;
            margin: 0 0 4px 20px;
            font-family: map-get($fonts, headingFont);

            @include screen(xxs) {
              font-size: 14px;
            }
            @include screen(xs) {
              font-size: 15px;
            }
            @include screen(sm) {
              font-size: 20px;
            }
            @include screen(md) {
              font-size: 20px;
            }
            @include screen(lg) {
              font-size: 17px;
            }
            @include screen(xlg) {
              font-size: 18px;
            }
          }
          &__p {
            font-size: 15px;
            color: #8f8f8f;
            margin: -10px 0 0 20px;
            font-family: map-get($fonts, labelFont);
            @include screen(xs) {
              font-size: 12px;
            }
            @include screen(sm) {
              font-size: 12px;
            }
            @include BreakPoint(xxs) {
              font-size: 10px;
            }
            @include screen(md) {
              font-size: 16px;
            }
            @include screen(lg) {
              font-size: 13px;
            }
            @include screen(xlg) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
