<section class="confirm-password">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="confirm-password__content">
          <div class="row">
            <div class="col-12">
              <div class="confirm-password__content__background">
                <div class="confirm-password__content__background__title">
                  <p class="confirm-password__content__background__title__p">Confirm</p>
                </div>
                <img class="confirm-password__content__background__img"
                  src="../../../../../assets/Login/Path on login (2).svg" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="confirm-password__content__image-div">
                <img class="confirm-password__content__image-div__img"
                  src="../../../../../assets/Login/My password-rafiki.svg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <form class="confirm-password__content__form">
                <div
                  class="confirm-password__content__form__input-div confirm-password__content__form__input-div__password">
                  <label for="exampleInputPassword1" class="confirm-password__content__form__input-div__password__label">Enter your new password</label>
                  <input type="password"
                    class="form-control mb-3 confirm-password__content__form__input-div__password__input"
                    id="exampleInputPassword1" placeholder="Confirm Password">
                    <p class="confirm-password__content__form__input-div__password__p">Must be at least 8 characters.</p>
                    <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt="" class="confirm-password__content__form__input-div__password__password-icon">
                </div>
                <div
                  class="confirm-password__content__form__input-div confirm-password__content__form__input-div__password">
                  <label for="exampleInputPassword2" class="confirm-password__content__form__input-div__password__label">Confirm new password</label>
                  <input type="password"
                    class="form-control mb-3 confirm-password__content__form__input-div__password__input"
                    id="exampleInputPassword2" placeholder="Confirm Password">
                    <p class="confirm-password__content__form__input-div__password__p">Both passwords must much.</p>
                    <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt="" class="confirm-password__content__form__input-div__password__password-icon">
                </div>
                <button type="submit" class="btn btn-primary confirm-password__content__form__button">Confirm Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
