/*
  ==========================================================================
                    Confirm
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

/*==============================================================================
              Confirm form
===============================================================================*/
.confirm-password__content {
  &__image-div {
    width: 565.48px;
    margin: auto;
    @include screen(lg) {
      width: 400.48px;
    }
    @include screen(xlg) {
      width: 465.48px;
    }
    @include screen(md) {
      width: 328.48px;
    }
    @include screen(sm) {
      width: 210.8px;
    }
    @include screen(xs) {
      width: 245.8px;
    }
    @include screen(xxs) {
      width: 251.8px;
    }
    &__img {
      width: 100%;
    }
  }
  &__form {
    width: 70%;
    margin: 0px auto 0 auto;
    @include screen(xxs) {
      margin: 15px auto 0 auto;
    }
    @include screen(md) {
      margin: 11px auto 0 auto;
    }
    @include custem-screen(xs, md) {
      margin: 15px auto 0 auto;
    }
    &__input-div {
      @include screen(xxs) {
        margin-bottom: 10px !important;
      }
      @include screen(xs) {
        margin-bottom: 6px !important;
      }
      @include screen(sm) {
        margin-bottom: 16px !important;
      }
      @include custem-screen(md, xxlg) {
        margin-bottom: 8px !important;
      }
      &__password {
        position: relative;
        &__input {
          @include BreakPoint(md) {
          }
          @include screen(xs) {
            margin-bottom: 10px !important;
          }
          @include screen(lg) {
            line-height: 50px;
          }
          @include screen(xlg) {
            line-height: 50px;
          }
          &::placeholder {
            font-size: 1.5vw;
            @include screen(md) {
              font-size: 2.3vw;
            }
            @include BreakPoint(sm) {
              font-size: 3vw;
            }
          }
        }
        &__password-icon {
          position: absolute;
          width: 51.33px;
          height: 80.46px;
          padding-right: 20px;
          bottom: 25px;
          right: 3px;
          @include BreakPoint(xlg) {
            width: 49.33px;
            padding-right: 20px !important;
            right: 3px !important;
          }
          @include screen(xlg) {
            height: 67.46px;
          }
          @include screen(lg) {
            height: 54.46px;
          }

          @include screen(xxs) {
            height: 50.46px;
            bottom: 19px;
          }
          @include screen(xs) {
            height: 53.46px;
            bottom: 30px;
            width: 44.33px;
          }
          @include screen(sm) {
            height: 49.46px;
            bottom: 26px;
          }
          @include screen(md) {
            height: 49.46px;
            bottom: 27px;
          }
        }
        &__label {
          color: $gray-color;
          margin: 0 0 4px 20px;
          @include screen(lg) {
            margin: 0 0 4px 4px;
          }
        }
        &__p {
          font-size: 1vw;
          color:  $gray-color;
          margin: 2px 0 0 20px;
          font-family: map-get($fonts, labelFont);
          @include screen(xxs) {
            font-size: 3vw;
          }
          @include custem-screen(xs, lg) {
            font-size: 14px;
          }
          @include screen(lg) {
            font-size: 1.2vw;
            margin: 2px 0 0 4px;
          }
        }
      }
    }
  }
}
