<div class="confirm-password__content">
  <div class="row">
    <div class="col-12">
      <div class="confirm-password__content__title">
        <p class="confirm-password__content__title__p">Confirm Password</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="confirm-password__content__image-div">
        <img class="confirm-password__content__image-div__img" src="../../../../../assets//Login/My password-rafiki.svg"
          alt="" />
      </div>
    </div>
    <div class="col-lg-6">
      <form class="confirm-password__content__form" [formGroup]="ConfirmForm" (ngSubmit)="confirm()">
        <div class="confirm-password__content__form__input-div confirm-password__content__form__input-div__password">
          <label for="exampleInputPassword1" class="confirm-password__content__form__input-div__password__label">Enter
            your new password</label>
          <input type="password" class="form-control confirm-password__content__form__input-div__password__input"
            id="exampleInputPassword1" placeholder="Confirm Password" #PasswordFieldMain formControlName="password" />

          <app-validation-errors-component [Form]="ConfirmForm" [control]="'password'" [minLength]="5"
            [MassegeError]="MassegeError" *ngIf="Submited"></app-validation-errors-component>

          <p class="confirm-password__content__form__input-div__password__p">
            Must be at least 8 characters.
          </p>
          <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt=""
            class="confirm-password__content__form__input-div__password__password-icon" role="button" (click)="
              PasswordFieldMain.type =
                PasswordFieldMain.type == 'password' ? 'text' : 'password'
            " />
        </div>
        <div class="confirm-password__content__form__input-div confirm-password__content__form__input-div__password">
          <label for="exampleInputPassword2" class="confirm-password__content__form__input-div__password__label">Confirm
            new password</label>
          <input type="password" class="form-control confirm-password__content__form__input-div__password__input"
            id="exampleInputPassword2" placeholder="Confirm Password" #PasswordFieldConfirm
            formControlName="newPassword" />

          <app-validation-errors-component [Form]="ConfirmForm" [control]="'newPassword'" [minLength]="5"
            [MassegeError]="MassegeError" *ngIf="Submited"></app-validation-errors-component>

          <p class="confirm-password__content__form__input-div__password__p"
            [ngClass]="match == false ? 'red' : 'gray'">
            Both passwords must much.
          </p>
          <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt=""
            class="confirm-password__content__form__input-div__password__password-icon" role="button" (click)="
              PasswordFieldConfirm.type =
                PasswordFieldConfirm.type == 'password' ? 'text' : 'password'
            " />
        </div>
        <button type="submit" class="btn btn-primary confirm-password__content__form__button">
          Confirm Password
        </button>
      </form>
    </div>
  </div>
</div>
