/*
  ==========================================================================
                    Confirm
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

/*==============================================================================
              Confirm form
===============================================================================*/
.confirm-password__content {
  &__title {
    position: absolute;
    color: $white;
    font-family: map-get($fonts, paragraphFont);
    right: 5vw;
    top: 4vw;
    font-size: 3vw;
    letter-spacing: 2.44px;
  }
  &__image-div {
    width: 26vw;
    margin: auto;
    @include screen(sm){
      width: 28.8vw;
    }
    @include BreakPoint(xs) {
      width: 43vw;
    }
    &__img {
      width: 100%;
    }
  }
  &__form {
    width: 70%;
    margin: 0px auto 0 auto;
    @include screen(xxs) {
      width: 90%;
      margin: 15px auto 0 auto;
    }
    @include screen(md) {
      width: 70%;
      margin: 11px auto 0 auto;
    }
    @include custem-screen(xs, md) {
      width: 80%;
      margin: 15px auto 0 auto;
    }
    &__input-div {
      margin-bottom: 25px !important;

      @include screen(xxs) {
        margin-bottom: 10px !important;
      }
      @include screen(xs) {
        margin-bottom: 6px !important;
      }
      @include screen(sm) {
        margin-bottom: 16px !important;
      }
      @include custem-screen(md, xxlg) {
        margin-bottom: 8px !important;
      }
      &__password {
        position: relative;
        &__input {
          font-size: 2vw;
          @include BreakPoint(md) {
            font-size: 4vw;
          }
          @include screen(xs) {
            margin-bottom: 10px !important;
          }
          @include screen(lg) {
            height: 50px !important;
            line-height: 50px;
            font-size: 3vw;
          }
          @include screen(xlg) {
            height: 50px !important;
            line-height: 50px;
          }
          &::placeholder {
            font-size: 1.5vw;
            @include screen(md) {
              font-size: 2.3vw;
            }
            @include BreakPoint(sm) {
              font-size: 3vw;
            }
          }
        }
        &__password-icon {
          position: absolute;
          width: 48.33px;
          height: 66.46px;
          padding-right: 20px;
          bottom: 29px;
          right: 3px;
          @include BreakPoint(xlg) {
            width: 37.33px !important;
            padding-right: 20px !important;
            right: 3px !important;
          }
          @include screen(xxs){
            height: 38.46px;
            bottom: 19px;
          }
          @include screen(xs) {
            height: 38.46px;
            bottom: 23px;
          }
          @include screen(sm) {
            height: 49.46px;
            bottom: 20px;
          }
          @include screen(md) {
            height: 49.46px;
            bottom: 27px;
          }
          @include custem-screen(lg, xxlg) {
            height: 46.46px;
            bottom: 26px;
          }
        }
        &__label {
          font-size: 1.2vw;
          color: $gray-color;
          margin: 0 0 4px 20px;
          font-family: map-get($fonts, headingFont);
          @include screen(lg) {
            font-size: 2vw;
            color: #8f8f8f;
            margin: 0 0 4px 4px;
          }
          @include screen(sm) {
            font-size: 3vw;
          }
          @include screen(md) {
            font-size: 2.6vw;
          }
          @include BreakPoint(xs) {
            font-size: 4vw;
          }
        }
        &__p {
          font-size: 1vw;
          color: #8f8f8f;
          margin: 2px 0 0 20px;
          font-family: map-get($fonts, labelFont);
          @include screen(xxs){
            font-size: 3vw;
          }
          @include custem-screen(xs, lg) {
            font-size: 2vw;
          }
          @include screen(lg) {
            font-size: 1.2vw;
            color: #8f8f8f;
            margin: 2px 0 0 4px;
          }
        }
      }
    }
  }
}
