@use "~../../../../../scss/helpers/colors" as *;
@use "~../../../../../scss/helpers/mixins" as *;

[class$="-password"] {
  min-height: 100vh;
  display: flex;
  align-items: center;
  @include BreakPoint(sm) {
    min-height: 90vh !important;
  }
}
[class$="__content"] {
  border-radius: 36px;
  box-shadow: 3px 4px 54px $black-1;
  position: relative;
  max-width: 1533.33px;
  padding: 0px 0 150px 0 !important;

  @include BreakPoint(xs) {
    padding: 0px 0 44px 0 !important;
  }
  @include BreakPoint(md) {
    border-radius: 15px;
  }
  @include custem-screen(sm, lg){
    padding: 0px 0 70px 0 !important;
  }
}
[class$="__content__background"] {
  width: 70%;
  float: right;
  position: relative;
  @include screen(md) {
    width: 57%;
  }
}
[class$="__content__background__title"] {
  position: absolute;
  color: $white;
  font-family: map-get($fonts, paragraphFont);
}
[class$="__content__background__img"] {
  width: 100%;
  border-top-right-radius: 36px;
  @include BreakPoint(md){
    border-top-right-radius: 15px;
  }
}
[class$="__content__image-div"] {
  margin: auto;
}
[class$="__content__image-div__img"] {
  width: 100%;
}
input {
  height: 79px;
  border-radius: 17px;
  font-size: 20px;
  padding: 0 50px 0 26px;
  border: none;
  outline: none;
  background-color: $nav-dropdown;
  /*=========================== Media query for login-password-section -> login-password-content -> login-password-form -> input ============================*/
  @include screen(xxs) {
    height: 40px;
    font-size: 12px;
    border-radius: 9px;
  }
  @include screen(xs) {
    height: 50px;
    font-size: 14px;
    border-radius: 12px;
  }
  @include screen(sm) {
    height: 50px;
    font-size: 16px;
  }
  @include custem-screen(md, xlg) {
    height: 60px;
    font-size: 19px;
  }
  @include screen(xlg) {
    height: 60px;
    font-size: 16px;
  }
  &::placeholder {
    color: $gray-color;
    @include screen(xxs) {
      font-size: 14px;
    }
    @include screen(xs) {
      font-size: 14px;
    }
    @include screen(sm) {
      font-size: 15px;
    }
    @include screen(md) {
      font-size: 16px;
    }
    @include screen(lg) {
      font-size: 17px;
    }
    @include screen(xlg) {
      font-size: 18px;
    }
  }
}
[class$="__content__form__button"]  {
  width: 100%;
  height: 69px;
  border-radius: 17px !important;
  font-size: 23px;
  background: transparent linear-gradient(99deg, #7380f2 0%, #5c5b99 100%) 0% 0%
    no-repeat padding-box;
  @include screen(xxs) {
    height: 40px;
    font-size: 14px;
    border-radius: 12px;
  }
  @include screen(xs) {
    height: 45px;
    font-size: 16px;
  }
  @include screen(sm) {
    font-size: 18px;
    height: 50px;
  }
  @include screen(md) {
    font-size: 22px;
    height: 59px;
  }
  @include screen(lg) {
    height: 60px;
    font-size: 20px;
  }
  @include screen(xlg) {
    height: 60px;
    font-size: 20px;
  }
}
