<div class="row">
  <div class="col-8 offset-2">
    <div class="dashboard__component-icons">
      <div class="dashboard__component-icons__icon-div" >
        <div class="dashboard__component-icons__icon-div__icon">
          <i class="bi bi-fingerprint dashboard__component-icons__icon-div__icon__i" [ngClass]="{'green': light['scan'] == true}"></i>
        </div>
        <p class="dashboard__component-icons__icon-div__icon-title">
          Scan Fingerprint
        </p>
      </div>
      <div class="dashboard__component-icons__icon-div">
        <div class="dashboard__component-icons__icon-div__icon">
          <i class="bi bi-journal-check dashboard__component-icons__icon-div__icon__i"  [ngClass]="{'green': light['userForm'] == true}"></i>
        </div>
        <p class="dashboard__component-icons__icon-div__icon-title">
          Fill User Information
        </p>
      </div>
      <div class="dashboard__component-icons__icon-div">
        <div class="dashboard__component-icons__icon-div__icon">
          <i class="bi bi-journal-check dashboard__component-icons__icon-div__icon__i"  [ngClass]="{'green': light['familyForm'] == true}"></i>
        </div>
        <p class="dashboard__component-icons__icon-div__icon-title">
          Fill User's Family Info
        </p>
      </div>
      <div class="dashboard__component-icons__icon-div">
        <div class="dashboard__component-icons__icon-div__icon dashboard__component-icons__icon-div__icon-last">
          <i class="bi bi-check-lg dashboard__component-icons__icon-div__icon__i"  [ngClass]="{'green': light['done'] == true}"></i>
        </div>
        <p class="dashboard__component-icons__icon-div__icon-title" style="padding-right: 1.1rem;">
          Done!
        </p>
      </div>
    </div>
  </div>
</div>
