/*
  ==========================================================================
                  Global specific style in general home
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

.service-margin-top {
  margin-top: 5.875rem !important;
  @media (max-width: 767.98px) {
    margin-top: 115px !important;
  }
  @media (max-width: 575.98px) {
    margin-top: 109px !important;
  }
}
.banner-margin-bottom {
  margin-bottom: 21.25rem !important;
}

/*
  ==========================================================================
                     Style for banner
  =========================================================================
*/

.banner {
  /* banner properities */
  @media (max-width: 991.98px) {
    &.section-margin {
      margin-top: 56px !important;
    }
  }
  .banner-left-text {
    /* banner left part that contains search and heading */
    max-width: 607.25px !important;
    width: 70%;
    /* margin left for all section */
    @include margin-content-left;
    .banner-left-text-h1 {
      /* heading of the left part banner */
      /* Heading properities */
      @include Heading-size;
    }
    .banner-left-text-p {
      /* paragraph of the left part banner */
      max-width: 615px;
      margin-top: 1.4375rem;
      /* Paragraph properities */
      @include Paragraph-size;
    }
    .banner-left-text-form {
      /* form search of the left part banner */
      position: relative;
      img {
        /* img icon in form search of the left part banner */
        position: absolute;
        left: 24px;
        top: 19px;
        width: 30px;
        height: 30px;
        /* search icon properities */
        @include search-icon-responsive;
      }

      .search-box-div {
        /* Div that contains search list of the left part banner */
        border: 2px solid $main-color-light;
        box-shadow: 0 0 1.6rem $shadow-color;
        margin-bottom: 5.3125rem;
        border-radius: 20px;
        width: 100%;
        input {
          /* input icon in form search of the left part banner */
          width: 100%;
          height: 63.6px;
          color: $black;
          border-radius: 1rem;
          padding-left: 4rem;
          font-size: 34px;
          border: 1px solid $main-color-light;
          box-shadow: 0 0 1.6rem $shadow-color;
          border-top-color: transparent;
          /* input properities */
          @include search-input-field;

          &::placeholder {
            /* input placeholder icon in form search of the left part banner */
            font-size: 28px;
            line-height: 3rem;
            letter-spacing: -0.05125rem;
            color: $gray-color;
            text-align: left;
            /* placeholder properities */
            @include search-input-placeholder;
          }
        }
        .search-result-ul {
          /* Ul in form search of the left part banner */
          width: 100%;
          background: transparent;
          position: relative;
          list-style: none;
          padding-left: 1rem;

          .search-result-item-li {
            /* li in ul in form search of the left part banner */            //line-height: 20px;
            width: 100%;
            padding-top: 0.8125rem;
            &:not(:last-child) {
              border-bottom: 1px solid $main-color-light;
            }
            .search-result-item-li-address-p {
              font-family: "SFUIRegular";
              font-size: 24px;
              margin: 0;
               /* Address paragraph properities */
              @include search-address-p;
            }
            .search-result-item-li-street-p {
              font-family: "BalooBhaijaan2Regular";
              font-size: 20px;
               /* Street paragraph properities */
              @include search-street-p ;
            }


          }
        }
      }
    }
  }
  .banner-right-img {
    width: 462.35px;
    margin: auto;
    // X-Small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
      width: 89%;
    }

    // Small devices (landscape phones, less than 768px)
    @media (min-width: 575.98px) and (max-width: 767.98px) {
      width: 435.12px;
    }
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      width: 100%;
      margin-top: 0 !important;
    }
    // XX-Large devices (more than 1400px)
    @media (min-width: 1399.98px) {
      //float: right;
      width: 716.8px;
    }
  }
  .banner-right-img img {
    transform: perspective(1600px) rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
    max-width: 100%;
    margin-top: -55px;
    position: relative;
    z-index: -20;
  }
}

/*
  ==========================================================================
                     Services Steps
  =========================================================================
*/
.Service-Steps-section {
  position: relative;
  overflow: hidden;
  .services-title-div {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3.6875rem;
    font-family: "SFUIRegular";

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      margin-bottom: 9rem;
    }
    .services-title-div-h1 {
      // font-size: 59px;
      //padding: 0px 99px !important;
      @include margin-content-left;
      @include Heading-size;
    }
  }
  span {
    color: $main-color;
  }

  .step-in-right-direction {
    border-bottom-right-radius: 4.375rem;
    border-top-right-radius: 4.375rem;
    margin-left: -1rem;
    border-left: none !important;
    padding-right: 69px;

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      border-bottom-right-radius: 2.375rem;
      border-top-right-radius: 2.375rem;
      padding-right: 49px !important;
    }
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      border-bottom-right-radius: 3.375rem;
      border-top-right-radius: 3.375rem;
    }
    .step-in-right-direction-img {
      width: 312px !important;
      display: inline-block;
      height: 262.45px !important;
      // XX-Small devices (portrait phones, less than 576px)
      @media (max-width: 375.98px) {
        left: -60px !important;
      }
      //Small devices (landscape phones, less than 768px)
      @media (max-width: 767.98px) {
        top: -74px;
        position: absolute;
        left: -64px;
      }
    }
  }

  .step-in-left-direction {
    border-bottom-left-radius: 4.375rem;
    border-top-left-radius: 4.375rem;
    border-right: none !important;
    float: right;
    margin: -12px;

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      border-bottom-left-radius: 2.375rem;
      border-top-left-radius: 2.375rem;
    }
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      border-bottom-left-radius: 3.375rem;
      border-top-left-radius: 3.375rem;
    }
    .step-collection-div {
      @media (max-width: 767.98px) {
        padding: 0px 47px 0 0 !important;
      }
      .step-in-left-direction-img {
        width: 387.78px;
        display: inline-block;
        height: 316.11px;
        // XX-Small devices (portrait phones, less than 576px)
        @media (max-width: 375.98px) {
          right: -108px;
        }
        // Small devices (landscape phones, less than 768px)
        @media (max-width: 767.98px) {
          right: -71px;
          top: -82px;
          position: absolute;
          //left: -24px;
        }
      }
    }
  }

  .step-in-right-direction,
  .step-in-left-direction {
    border: 5px solid $main-color-brightness;
    box-shadow: 0 0 1.6rem $shadow-color;
    width: 91.3%;
    max-width: 1658px;
    min-height: 20.438rem;
    display: flex;
    background-color: $white !important;
    // XX-Small devices (portrait phones, less than 576px)
    @media (max-width: 375.98px) {
      width: 100% !important;
    }
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      width: 88%;
      // min-height: 10.5625rem !important;
      min-height: 12.563rem !important;
    }
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      min-height: 13.5625rem !important;
    }
    // Large devices (desktops, less than 1200px)
    @media (min-width: 991.98px) and (max-width: 1199.98px) {
      min-height: 15.438rem !important;
    }
    @media (min-width: 1199.98px) and (max-width: 1399.98px) {
      min-height: 17.438rem !important;
    }
    .step-in-left-direction-img,
    .step-in-right-direction-img {
      position: relative;

      // Small devices (landscape phones, less than 768px)
      @media (max-width: 767.98px) {
        height: 118px !important;
        position: absolute;
      }
      // XX-Small devices (portrait phones, less than 576px)
      @media (max-width: 375.98px) {
        height: 89px !important;
        top: -63px !important;
      }
      // Medium devices (tablets, less than 992px)
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        width: 334px !important;
        display: inline-block;
        height: 200.45px !important;
      }
      @media (min-width: 991.98px) and (max-width: 1199.98px) {
        width: 312px !important;
        height: 250.45px !important;
      }
      @media (min-width: 1199.98px) and (max-width: 1399.98px) {
        min-height: 17.438rem !important;
        width: 312px !important;
        display: inline-block;
        height: 262.45px !important;
      }
      img {
        width: 100%;
        height: 100%;
        // position: absolute;
      }
    }
    .step-in-right-direction-p,
    .step-in-left-direction-p {
      display: inline-block;
      position: relative;
      @include Paragraph-size;
      p {
        margin: 0;
      }
    }
    .step-collection-div {
      // min-height: 14.5625rem;
      display: flex;
      align-items: center;
      // padding: 0px 0 0 116px;
      @include margin-content-left;
      // Small devices (landscape phones, less than 768px)
      @media (max-width: 767.98px) {
        position: relative;
        margin: 0 0 -9px 9% !important;
      }
    }
  }

  .Ellipse {
    position: absolute;
    right: -200px;
    top: 185px;
    width: 610px;
    height: 448px;
    transform: rotate(48deg);
    z-index: -999;

    // XX-Small devices (portrait phones, less than 576px)
    @media (max-width: 375.98px) {
      top: 271px;
      width: 300px !important;
      height: 300px !important;
    }
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      width: 523px;
      height: 398px;
    }
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      top: 300px;
      width: 576px;
      height: 408px;
    }
  }
  .Repeat6 {
    position: absolute;
    top: 479px;
    width: 252px;
    height: 309px;
    z-index: -999;
    left: -48px;
    // XX-Small devices (portrait phones, less than 576px)
    @media (max-width: 375.98px) {
    }
    @media (max-width: 767.98px) {
      top: 418px;
    }
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      top: 383px;
    }
  }
  .Repeat5 {
    position: absolute;
    right: 153px;
    bottom: -211px;
    z-index: -999;
    // XX-Small devices (portrait phones, less than 576px)
    @media (max-width: 375.98px) {
    }
    @media (max-width: 767.98px) {
      right: -123px;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
      right: 68px;
      bottom: -209px;
    }
  }
}
