/*
  ==========================================================================
                  Global specific style in general home
  =========================================================================
*/

/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

/*
  ============================================================================================================================================================
                                                                        Homepage content
                                    Banner                                                                          Service Steps

                  Left banner                        Right banner                                   Right Direction steps             Left direction step         title div

               Left banner text                   banner right image                             image          paragraph             image          paragraph

            H1      Form         p

                Search-box-div
  ==============================================================================================================================================================
*/

/*
  ==============================================================================================================================================================

                                                                          Style for banner

  ==============================================================================================================================================================
*/

.banner {
  /* banner properities */
  @include BreakPoint(md) {
    &.section-margin {
      margin-top: 56px !important;
    }
  }

  /*
  ==============================================================================================================================================================

                                                                          Style for left banner

  ==============================================================================================================================================================
*/
  .banner-left-text {
    max-width: 607.25px;
    margin-left: 168px;

    /*================== Media query for banner-left-text ===================*/
    @include BreakPoint(xs) {
      margin-left: 25px;
      margin-right: 25px;
    }
    @include custem-screen(sm, lg) {
      margin-left: 82px;
      margin-right: 82px;
    }
    @include custem-screen(md, xxlg) {
      width: 82%;
    }
    @include screen(lg) {
      margin-left: 86px;
    }
    @include screen(xlg) {
      margin-left: 91px;
    }
    /*======================================================================*/

    .banner-left-text-h1 {
      font-size: 59px;
      font-weight: 500;
      font-family: map-get($fonts, headingFont);

      /*================== Media query for banner-left-text -> banner-left-text-h1 ===================*/
      @include screen(xxs) {
        font-size: 18px !important;
      }
      @include screen(xs) {
        font-size: 31px;
      }

      @include screen(sm) {
        font-size: 40px;
      }

      @include screen(md) {
        font-size: 33px;
      }

      @include screen(lg) {
        font-size: 44px;
      }

      @include screen(xlg) {
        font-size: 53px;
      }
      /*===================================================================================================*/
    }

    .banner-left-text-p {
      max-width: 615px;
      margin-top: 1.4375rem;
      font-family: map-get($fonts, paragraphFont);
      font-size: 33px;

      /*================== Media query for banner-left-text -> banner-left-text-p ===================*/

      @include custem-screen(sm, lg) {
        font-size: 20px;
      }
      @include screen(xxs) {
        font-size: 10px !important;
      }
      @include screen(xs) {
        font-size: 15px;
      }
      @include screen(lg) {
        font-size: 22px;
      }
      @include screen(xlg) {
        font-size: 29px;
      }
      /*===================================================================================================*/
    }

    .banner-left-text-form {
      position: relative;
      img {
        position: absolute;
        left: 24px;
        top: 19px;
        width: 30px;
        height: 30px;
        /*================== Media query for banner-left-text -> banner-left-text-form -> img ===================*/
        @include custem-screen(sm, lg) {
          left: 22px;
          top: 16px;
          width: 20px;
          height: 20px;
        }
        @include screen(xxs) {
          width: 15px;
          height: 15px;
          left: 23px;
          top: 14px;
        }
        @include screen(xs) {
          width: 20px;
          height: 20px;
          left: 30px;
          top: 19px;
        }
        @include screen(lg) {
          width: 25px;
          height: 25px;
          left: 27px;
          top: 17px;
        }
        /*===================================================================================================*/
      }

      .search-box-div {
        border: 2px solid $main-color-light;
        box-shadow: 0 0 1.6rem $shadow-color;
        margin-bottom: 5.3125rem;
        border-radius: 20px;
        width: 100%;
        input {
          width: 100%;
          height: 63.6px;
          color: $black;
          border-radius: 1rem;
          padding-left: 4rem;
          font-size: 34px;
          border: 1px solid $main-color-light;
          box-shadow: 0 0 1.6rem $shadow-color;
          border-top-color: transparent;
          /*================== Media query for banner-left-text -> banner-left-text-form -> search-box-div  -> input ===================*/
          @include custem-screen(xs, md) {
            font-size: 20px;
            height: 55px;
          }
          @include screen(xxs) {
            font-size: 14px !important;
            height: 40px !important;
            padding-left: 3.1rem !important;
          }
          @include screen(md) {
            height: 49.6px !important;
            font-size: 21px;
            padding-left: 3rem;
          }
          @include screen(lg) {
            height: 55px;
            font-size: 21px;
          }
          /*===================================================================================================*/

          &::placeholder {
            font-size: 28px;
            line-height: 3rem;
            letter-spacing: -0.05125rem;
            color: $gray-color;
            text-align: left;

            /*================== Media query for banner-left-text -> banner-left-text-form -> search-box-div  -> input -> placeholder ===================*/
            @include screen(xxs) {
              font-size: 12px !important;
            }
            @include screen(xs) {
              font-size: 17px !important;
            }
            @include screen(sm) {
              font-size: 18px;
            }
            @include screen(md) {
              font-size: 19px;
            }
            @include screen(lg) {
              font-size: 26px;
            }
            /*===================================================================================================*/
          }
        }
        .search-result-ul {
          width: 100%;
          background: transparent;
          position: relative;
          list-style: none;
          padding-left: 1rem;

          .search-result-item-li {
            width: 100%;
            padding-top: 0.8125rem;
            @include BreakPoint(xxs) {
              padding-top: 13px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid $main-color-light;
            }
            .search-result-item-li-address-p {
              font-family: map-get($fonts, headingFont);
              font-size: 24px;
              margin: 0;
              /*============================================================================================================================
                Media query for banner-left-text -> banner-left-text-form -> search-box-div  -> search-result-ul ->
                                  search-result-item-li -> search-result-item-li-address-p
              ==============================================================================================================================*/
              @include custem-screen(sm, lg) {
                font-size: 20px;
              }
              @include screen(xxs) {
                font-size: 13px !important;
              }
              @include screen(xs) {
                font-size: 17px !important;
              }
              @include screen(lg) {
                font-size: 24px;
              }
              /*===================================================================================================*/
            }

            .search-result-item-li-street-p {
              font-family: map-get($fonts, paragraphFont);
              font-size: 20px;
              /*============================================================================================================================
                Media query for banner-left-text -> banner-left-text-form -> search-box-div  -> search-result-ul ->
                                  search-result-item-li -> search-result-item-li-street-p
              ==============================================================================================================================*/
              @include custem-screen(sm, lg) {
                font-size: 17px;
              }
              @include screen(xxs) {
                font-size: 11px !important;
                margin-bottom: 0;
              }
              @include screen(xs) {
                font-size: 13px !important;
              }
              @include screen(lg) {
                font-size: 19px;
              }
              /*===================================================================================================*/
            }
          }
        }
      }
    }
  }

  /*
  ==============================================================================================================================================================

                                                                          Style for Right banner

  ==============================================================================================================================================================
*/
  .banner-right-img {
    max-width: 805.8px;
    /*================== Media query for banner-right-text ===================*/
    @include BreakPoint(xs) {
      width: 66%;
      margin: auto;
    }
    @include screen(sm) {
      margin-top: -30px;
      width: 435.12px;
      margin: auto;
    }
    @include custem-screen(md, xxlg) {
      width: 100%;
    }

    @include screen(md) {
      margin-top: 0px;
    }
    @include custem-screen(lg, xxlg) {
      margin-top: -30px;
    }
    /*==========================================================================*/
    img {
      /* image properities */
      transform: perspective(1600px) rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
      max-width: 100%;
      margin-top: -55px;
      position: relative;
      z-index: -20;
    }
  }
}

/*
  ==============================================================================================================================================================

                                                                          Style for Services Steps

  ==============================================================================================================================================================
*/
.Service-Steps-section {
  position: relative;
  overflow: hidden;
  .services-title-div {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3.6875rem;
    font-family: map-get($fonts, headingFont);
    /*================== Media query for Service-Steps-section -> services-title-div ===================*/
    @include BreakPoint(sm) {
      margin-bottom: 4rem;
    }
    /*====================================================================================================*/

    .services-title-div-h1 {
      margin-left: 168px;
      font-size: 59px;
      font-weight: 500;
      font-family: map-get($fonts, headingFont);

      /*================== Media query for Service-Steps-section -> services-title-div -> services-title-div-h1 ===================*/
      @include BreakPoint(xs) {
        margin-left: 25px;
        margin-right: 25px;
      }
      @include custem-screen(sm, lg) {
        margin-left: 82px;
        margin-right: 82px;
      }
      @include custem-screen(md, xxlg) {
        width: 82%;
      }
      @include screen(xxs) {
        font-size: 18px !important;
      }
      @include screen(xs) {
        font-size: 31px;
      }
      @include screen(sm) {
        font-size: 40px;
      }
      @include screen(md) {
        font-size: 33px;
      }
      @include screen(lg) {
        font-size: 44px;
        margin-left: 86px;
      }
      @include screen(xlg) {
        font-size: 53px;
        margin-left: 91px;
      }
      /*=========================================================================================================================*/
    }
  }
  span {
    color: $main-color;
  }
  /*
  ==============================================================================================================================================================

                                                                          Style for Services right Steps

  ==============================================================================================================================================================
*/

  .step-in-right-direction {
    margin-left: -1rem;
    padding-right: 69px;
    border: 5px solid $main-color-brightness;
    box-shadow: 0 0 1.6rem $shadow-color;
    max-width: 1748px;
    min-height: 20.438rem;
    display: flex;
    background-color: $white !important;
    border-bottom-right-radius: 4.375rem;
    border-top-right-radius: 4.375rem;
    border-left: none !important;
    /*================== Media query for Service-Steps-section -> step-in-right-direction ===================*/
    @include BreakPoint(sm) {
      border-bottom-right-radius: 2.375rem;
      border-top-right-radius: 2.375rem;
      padding-right: 49px !important;
    }
    @include custem-screen(xs, md) {
      width: 88%;
      min-height: 12.563rem !important;
    }
    @include custem-screen(lg, xxlg) {
      padding-right: 0;
    }
    @include screen(xxs) {
      width: 100%;
      min-height: 9.438rem;
    }
    @include screen(md) {
      border-bottom-right-radius: 3.375rem;
      border-top-right-radius: 3.375rem;
      width: 95%;
      min-height: 13.5625rem !important;
    }
    @include screen(lg) {
      min-height: 15.438rem !important;
      border-bottom-right-radius: 3.375rem;
      border-top-right-radius: 3.375rem;
      width: 95%;
    }
    @include screen(xlg) {
      min-height: 17.438rem !important;
      width: 99%;
    }
    /*=========================================================================================================*/

    .step-collection-div {
      display: flex;
      align-items: center;
      margin-left: 168px;
      /*================== Media query for Service-Steps-section -> step-in-right-direction -> step-collection-div ===================*/
      @include BreakPoint(sm) {
        position: relative;
        margin: 0 0 -9px 9% !important;
      }
      @include custem-screen(sm, md) {
        margin-left: 82px;
        margin-right: 82px;
      }
      @include custem-screen(md, xxlg) {
        width: 82%;
      }
      @include custem-screen(md, lg) {
        margin-right: 0;
        margin-left: 82px;
        width: 100%;
      }
      @include custem-screen(lg, xxlg) {
        width: 90%;
        margin-left: 76px;
      }
      @include screen(lg) {
        margin-left: 86px;
      }
      @include screen(xlg) {
        margin-left: 91px;
      }
      /*=============================================================================================================================*/
      .step-in-right-direction-img {
        width: 344.1px;
        display: inline-block;
        position: relative;
        /*================== Media query for Service-Steps-section -> step-in-right-direction -> step-collection-div -> step-in-right-direction-img  ===================*/
        @include custem-screen(xs, md) {
          height: 118px ;
          width: 250px;
          position: absolute;
          top: -74px;
          left: -64px;
        }
        @include screen(xxs) {
          height: 89px ;
          top: -63px ;
          width: 250px;
          position: absolute;
          left: -60px;
        }
        @include screen(md) {
          width: 190px ;
          display: inline-block;
          height: 200.45px ;
        }
        @include screen(lg) {
          width: 292.1px ;
        }
        @include screen(xlg) {
          min-height: 17.438rem ;
          display: inline-block;
          width: 292.1px ;
        }
        /*=============================================================================================================================================================*/
        img {
          width: 344.1px;
          height: 100%;
          /*================== Media query for Service-Steps-section -> step-in-right-direction -> step-collection-div -> step-in-right-direction-img -> img ===================*/
          @include BreakPoint(sm) {
            width: 250px;
          }
          @include custem-screen(md, lg) {
            width: 190px;
          }
          @include custem-screen(lg, xxlg) {
            width: 292.1px;
          }
          /*=============================================================================================================================================================*/
        }
      }
      .step-in-right-direction-p {
        display: inline-block;
        position: relative;
        font-family: map-get($fonts, paragraphFont);
        font-size: 33px;

        /*================== Media query for Service-Steps-section -> step-in-right-direction -> step-collection-div -> step-in-right-direction-p  ===================*/
        @include custem-screen(sm, lg) {
          font-size: 20px;
        }
        @include screen(lg) {
          font-size: 22px;
        }
        @include screen(xlg) {
          font-size: 29px;
        }
        @include screen(xxs) {
          font-size: 10px !important;
        }
        @include screen(xs) {
          font-size: 15px;
        }
        /*============================================================================================================================================================*/
        p {
          margin: 0;
        }
      }
    }
  }
  /*
  ==============================================================================================================================================================

                                                                          Style for Services left Steps

  ==============================================================================================================================================================
*/
  .step-in-left-direction {
    float: right;
    margin: -12px;
    border: 5px solid $main-color-brightness;
    box-shadow: 0 0 1.6rem $shadow-color;
    max-width: 1748px;
    min-height: 20.438rem;
    display: flex;
    background-color: $white !important;
    /* border of Steps in right direction Properities */

    border-bottom-left-radius: 4.375rem;
    border-top-left-radius: 4.375rem;
    border-right: none !important;

     /*================== Media query for Service-Steps-section -> step-in-left-direction ===================*/
    @include BreakPoint(sm) {
      border-bottom-left-radius: 2.375rem;
      border-top-left-radius: 2.375rem;
    }
    @include custem-screen(xs, md) {
      width: 88%;
      min-height: 12.563rem !important;
    }
    @include screen(xxs) {
      width: 100%;
      min-height: 9.438rem;
    }
    @include screen(md) {
      min-height: 13.5625rem !important;
      width: 95%;
      border-bottom-left-radius: 3.375rem;
      border-top-left-radius: 3.375rem;
    }
    @include screen(lg) {
      min-height: 15.438rem !important;
      width: 95%;
      border-bottom-left-radius: 3.375rem;
      border-top-left-radius: 3.375rem;
    }
    @include screen(xlg) {
      min-height: 17.438rem !important;
      width: 99%;
    }
    /*============================================================================================================*/

    .step-collection-div {
      margin-left: 85px;
      margin-right: 74px;
      display: flex;
      align-items: center;
      margin-left: 168px;

      /*================== Media query for Service-Steps-section -> step-in-left-direction -> step-collection-div ===================*/

      @include BreakPoint(sm) {
        position: relative;
        margin: 0 0 -9px 9% !important;
      }
      @include BreakPoint(md) {
        padding: 0px 47px 0 0 !important;
      }
      @include custem-screen(sm, lg) {
        margin-left: 82px;
        margin-right: 82px;
      }
      @include custem-screen(md, xxlg) {
        width: 82%;
      }
      @include custem-screen(lg, xxlg) {
        margin-right: 0;
        width: 100%;
      }
      @include screen(lg) {
        margin-left: 86px;
      }
      @include screen(xlg) {
        margin-left: 91px;
      }

      /*===========================================================================================================================================*/
      .step-in-left-direction-img {
        width: 344.1px;
        display: inline-block;
        height: 316.11px;
        position: relative;
        /*================== Media query for Service-Steps-section -> step-in-left-direction -> step-collection-div -> step-in-left-direction-img ===================*/
        @include custem-screen(xs, md) {
          height: 118px !important;
          width: 250px;
          position: absolute;
          right: -71px;
          top: -82px;
          position: absolute;
        }
        @include screen(xxs) {
          height: 89px !important;
          top: -63px !important;
          width: 250px;
          position: absolute;
          right: -108px;
        }
        @include screen(md) {
          width: 190px !important;
          display: inline-block;
          height: 200.45px !important;
        }
        @include screen(lg) {
          width: 292.1px !important;
          height: 200.45px !important;
        }
        @include screen(xlg) {
          min-height: 17.438rem !important;
          display: inline-block;
          width: 344.1px !important;
        }
        /*===========================================================================================================================================*/
        img {
          width: 344.1px;
          height: 100%;
          /*================== Media query for Service-Steps-section -> step-in-left-direction -> step-collection-div -> step-in-left-direction-img -> img ===================*/
          @include BreakPoint(md) {
            width: 189px;
          }
          @include custem-screen(md, lg) {
            width: 264.1px !important;
          }
        }
      }

      .step-in-left-direction-p {
        display: inline-block;
        position: relative;
        font-family: map-get($fonts, paragraphFont);
        font-size: 33px;

        /*================== Media query for Service-Steps-section -> step-in-left-direction -> step-collection-div -> step-in-left-direction-p ===================*/
        @include custem-screen(sm, lg) {
          font-size: 20px;
        }
        @include screen(xxs) {
          font-size: 10px !important;
        }
        @include screen(xs) {
          font-size: 15px;
        }

        @include screen(lg) {
          font-size: 22px;
        }
        @include screen(xlg) {
          font-size: 29px;
        }
        /*===========================================================================================================================================================*/
        p {
          margin: 0;
        }
      }
    }
  }

  .Ellipse {
    right: -200px;
    top: 185px;
    width: 610px;
    height: 448px;
    transform: rotate(48deg);
    z-index: -999;
    position: absolute;
    /*================== Media query for Service-Steps-section -> Ellipse ===================*/
    @include BreakPoint(sm) {
      top: 300px;
      width: 576px;
      height: 408px;
    }
    @include screen(md) {
      width: 523px;
      height: 398px;
    }
    @include screen(xxs) {
      top: 271px;
      width: 300px !important;
      height: 300px !important;
    }
    /*=======================================================================================*/
  }

  .Repeat6 {
    top: 479px;
    width: 252px;
    height: 309px;
    left: -48px;
    z-index: -999;
    position: absolute;

    /*================== Media query for Service-Steps-section -> Repeat6 ===================*/
    @include BreakPoint(sm) {
      top: 418px;
    }
    @include screen(md) {
      top: 383px;
    }
    /*=======================================================================================*/
  }
  .Repeat5 {
    right: 153px;
    bottom: -211px;
    z-index: -999;
    position: absolute;
    /*================== Media query for Service-Steps-section -> Repeat6 ===================*/
    @include BreakPoint(sm) {
      right: -123px;
    }
    @include screen(md) {
      right: 68px;
      bottom: -209px;
    }
    /*=======================================================================================*/
  }
}
