/*
  ==========================================================================
                  Global specific style in general home
  =========================================================================
*/

/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

/*
  ==============================================================================================================================================================

                                                                          Style for banner

  ==============================================================================================================================================================
*/

.banner {
  @include BreakPoint(md) {
    &.section-margin {
      margin-top: 56px !important;
    }
  }
  &__left-part {
    max-width: 607.25px;
    margin-left: 168px;

    @include BreakPoint(xs) {
      margin: 0 25px;
    }
    @include custem-screen(sm, lg) {
      margin: 0 82px;
    }
    @include custem-screen(md, xxlg) {
      width: 82%;
    }
    @include screen(lg) {
      margin-left: 86px;
    }
    @include screen(xlg) {
      margin-left: 91px;
    }

    &__h1 {
      font-size: 59px;
      font-weight: 500;
      font-family: map-get($fonts, headingFont);

      @include screen(xxs) {
        font-size: 18px !important;
      }
      @include screen(xs) {
        font-size: 31px;
      }

      @include screen(sm) {
        font-size: 40px;
      }

      @include screen(md) {
        font-size: 33px;
      }

      @include screen(lg) {
        font-size: 44px;
      }

      @include screen(xlg) {
        font-size: 53px;
      }
    }

    &__p {
      max-width: 615px;
      margin-top: 1.4375rem;
      font-family: map-get($fonts, paragraphFont);
      font-size: 33px;

      @include custem-screen(sm, lg) {
        font-size: 20px;
      }
      @include screen(xxs) {
        font-size: 10px !important;
      }
      @include screen(xs) {
        font-size: 15px;
      }
      @include screen(lg) {
        font-size: 22px;
      }
      @include screen(xlg) {
        font-size: 29px;
      }
    }

    &__form {
      position: relative;
      &__img {
        position: absolute;
        left: 24px;
        top: 19px;
        width: 30px;
        height: 30px;

        @include custem-screen(sm, lg) {
          width: 20px;
          height: 20px;
          left: 22px;
          top: 16px;
        }
        @include screen(xxs) {
          width: 15px;
          height: 15px;
          left: 23px;
          top: 14px;
        }
        @include screen(xs) {
          width: 20px;
          height: 20px;
          left: 30px;
          top: 19px;
        }
        @include screen(lg) {
          width: 25px;
          height: 25px;
          left: 27px;
          top: 17px;
        }
      }

      &__search-box-div {
        width: 100%;
        margin-bottom: 5.3125rem;
        border: 2px solid $main-color-light;
        border-radius: 20px;
        box-shadow: 0 0 1.6rem $shadow-color;
        &__input {
          width: 100%;
          height: 63.6px;
          color: $black;
          font-size: 34px;
          padding-left: 4rem;
          border: 1px solid $main-color-light;
          border-top-color: transparent;
          border-radius: 1rem;
          box-shadow: 0 0 1.6rem $shadow-color;

          @include custem-screen(xs, md) {
            font-size: 20px;
            height: 55px;
          }
          @include screen(xxs) {
            font-size: 14px !important;
            height: 40px !important;
            padding-left: 3.1rem !important;
          }
          @include screen(md) {
            height: 49.6px !important;
            font-size: 21px;
            padding-left: 3rem;
          }
          @include screen(lg) {
            height: 55px;
            font-size: 21px;
          }
          &::placeholder {
            font-size: 28px;
            line-height: 3rem;
            letter-spacing: -0.05125rem;
            color: $gray-color;
            text-align: left;

            @include screen(xxs) {
              font-size: 12px !important;
            }
            @include screen(xs) {
              font-size: 17px !important;
            }
            @include screen(sm) {
              font-size: 18px;
            }
            @include screen(md) {
              font-size: 19px;
            }
            @include screen(lg) {
              font-size: 26px;
            }
          }
        }
        &__ul {
          width: 100%;
          background: transparent;
          position: relative;
          list-style: none;
          padding-left: 1rem;

          &__li {
            width: 100%;
            padding-top: 0.8125rem;
            @include BreakPoint(xxs) {
              padding-top: 13px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid $main-color-light;
            }
            &__address-p {
              font-family: map-get($fonts, headingFont);
              font-size: 24px;
              margin: 0;

              @include custem-screen(sm, lg) {
                font-size: 20px;
              }
              @include screen(xxs) {
                font-size: 13px !important;
              }
              @include screen(xs) {
                font-size: 17px !important;
              }
              @include screen(lg) {
                font-size: 24px;
              }
            }

            &__street-p {
              font-family: map-get($fonts, paragraphFont);
              font-size: 20px;

              @include custem-screen(sm, lg) {
                font-size: 17px;
              }
              @include screen(xxs) {
                font-size: 11px !important;
                margin-bottom: 0;
              }
              @include screen(xs) {
                font-size: 13px !important;
              }
              @include screen(lg) {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }

  &__right-part {
    max-width: 805.8px;

    @include BreakPoint(xs) {
      width: 66%;
      margin: auto;
    }
    @include custem-screen(md, xxlg) {
      width: 100%;
    }
    @include custem-screen(lg, xxlg) {
      margin-top: -30px;
    }
    @include screen(sm) {
      margin-top: -30px;
      width: 435.12px;
      margin: auto;
    }
    @include screen(md) {
      margin-top: 0px;
    }
    &__img {
      transform: perspective(1600px) rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
      max-width: 100%;
      margin-top: -55px;
      position: relative;
      z-index: -20;
    }
  }
}

/*
  ==============================================================================================================================================================

                                                                          Style for Services Steps

  ==============================================================================================================================================================
*/
.services {
  position: relative;
  overflow: hidden;
  &__title-div {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3.6875rem;
    font-family: map-get($fonts, headingFont);

    @include BreakPoint(sm) {
      margin-bottom: 4rem;
    }
    &__h1 {
      margin-left: 168px;
      font-size: 59px;
      font-weight: 500;
      font-family: map-get($fonts, headingFont);

      @include BreakPoint(xs) {
        margin: 0 25px;
      }
      @include custem-screen(sm, lg) {
        margin: 0 82px
      }
      @include custem-screen(md, xxlg) {
        width: 82%;
      }
      @include screen(xxs) {
        font-size: 18px !important;
      }
      @include screen(xs) {
        font-size: 31px;
      }
      @include screen(sm) {
        font-size: 40px;
      }
      @include screen(md) {
        font-size: 33px;
      }
      @include screen(lg) {
        font-size: 44px;
        margin-left: 86px;
      }
      @include screen(xlg) {
        font-size: 53px;
        margin-left: 91px;
      }
    }
  }
  &__step-in-right-direction {
    max-width: 1748px;
    min-height: 20.438rem;
    display: flex;
    margin-left: -1rem;
    padding-right: 69px;
    background-color: $white !important;
    border: 5px solid $main-color-brightness;
    border-bottom-right-radius: 4.375rem;
    border-top-right-radius: 4.375rem;
    border-left: none !important;
    box-shadow: 0 0 1.6rem $shadow-color;

    @include BreakPoint(sm) {
      border-bottom-right-radius: 2.375rem;
      border-top-right-radius: 2.375rem;
      padding-right: 49px !important;
    }
    @include custem-screen(xs, md) {
      width: 88%;
      min-height: 12.563rem !important;
    }
    @include custem-screen(lg, xxlg) {
      padding-right: 0;
    }
    @include screen(xxs) {
      width: 100%;
      min-height: 9.438rem;
    }
    @include screen(md) {
      border-bottom-right-radius: 3.375rem;
      border-top-right-radius: 3.375rem;
      width: 95%;
      min-height: 13.5625rem !important;
    }
    @include screen(lg) {
      min-height: 15.438rem !important;
      border-bottom-right-radius: 3.375rem;
      border-top-right-radius: 3.375rem;
      width: 95%;
    }
    @include screen(xlg) {
      min-height: 17.438rem !important;
      width: 99%;
    }
    &__data-container-div {
      display: flex;
      align-items: center;
      margin-left: 168px;

      @include BreakPoint(sm) {
        position: relative;
        margin: 0 0 -9px 9% !important;
      }
      @include custem-screen(sm, md) {
        margin: 0 82px;
      }
      @include custem-screen(md, xxlg) {
        width: 82%;
      }
      @include custem-screen(md, lg) {
        margin: 0 0 0 82px;
        width: 100%;
      }
      @include custem-screen(lg, xxlg) {
        width: 90%;
        margin-left: 76px;
      }
      @include screen(lg) {
        margin-left: 86px;
      }
      @include screen(xlg) {
        margin-left: 91px;
      }
      &__img-div {
        width: 344.1px;
        display: inline-block;
        position: relative;
        @include BreakPoint(sm){
          position: absolute;
        }
        @include custem-screen(xs, md) {
          height: 118px;
          width: 250px;
          top: -74px;
          left: -64px;
        }
        @include screen(xxs) {
          height: 89px;
          width: 250px;
          top: -63px;
          left: -60px;
        }
        @include screen(md) {
          width: 190px;
          height: 200.45px;
          display: inline-block;
        }
        @include screen(lg) {
          width: 292.1px;
        }
        @include screen(xlg) {
          min-height: 17.438rem;
          width: 292.1px;
          display: inline-block;
        }
        &__img {
          width: 344.1px;
          height: 100%;

          @include BreakPoint(sm) {
            width: 250px;
          }
          @include custem-screen(md, lg) {
            width: 190px;
          }
          @include custem-screen(lg, xxlg) {
            width: 292.1px;
          }
        }
      }
      &__p-div {
        display: inline-block;
        position: relative;
        font-family: map-get($fonts, paragraphFont);
        font-size: 33px;

        @include custem-screen(sm, lg) {
          font-size: 20px;
        }
        @include screen(lg) {
          font-size: 22px;
        }
        @include screen(xlg) {
          font-size: 29px;
        }
        @include screen(xxs) {
          font-size: 10px !important;
        }
        @include screen(xs) {
          font-size: 15px;
        }
        &__p {
          margin: 0;
          span {
            color: $main-color;
          }
        }
      }
    }
  }
  /*
  ==============================================================================================================================================================

                                                                          Style for Services left Steps

  ==============================================================================================================================================================
*/
  &__step-in-left-direction {
    max-width: 1748px;
    min-height: 20.438rem;
    float: right;
    margin: -12px;
    display: flex;
    background-color: $white !important;
    border: 5px solid $main-color-brightness;
    border-bottom-left-radius: 4.375rem;
    border-top-left-radius: 4.375rem;
    border-right: none !important;
    box-shadow: 0 0 1.6rem $shadow-color;

    @include BreakPoint(sm) {
      border-bottom-left-radius: 2.375rem;
      border-top-left-radius: 2.375rem;
    }
    @include custem-screen(xs, md) {
      width: 88%;
      min-height: 12.563rem !important;
    }
    @include screen(xxs) {
      width: 100%;
      min-height: 9.438rem;
    }
    @include screen(md) {
      min-height: 13.5625rem !important;
      width: 95%;
      border-bottom-left-radius: 3.375rem;
      border-top-left-radius: 3.375rem;
    }
    @include screen(lg) {
      min-height: 15.438rem !important;
      width: 95%;
      border-bottom-left-radius: 3.375rem;
      border-top-left-radius: 3.375rem;
    }
    @include screen(xlg) {
      min-height: 17.438rem !important;
      width: 99%;
    }

    &__data-container-div {
      margin: 0 74px 0 168px;
      display: flex;
      align-items: center;

      @include BreakPoint(sm) {
        position: relative;
        margin: 0 0 -9px 9% !important;
      }
      @include BreakPoint(md) {
        padding: 0px 47px 0 0 !important;
      }
      @include custem-screen(sm, lg) {
        margin: 0 82px;
      }
      @include custem-screen(md, xxlg) {
        width: 82%;
      }
      @include custem-screen(lg, xxlg) {
        margin-right: 0;
        width: 100%;
      }
      @include screen(lg) {
        margin-left: 86px;
      }
      @include screen(xlg) {
        margin-left: 91px;
      }

      &__img-div {
        width: 344.1px;
        display: inline-block;
        height: 316.11px;
        position: relative;

        @include BreakPoint(sm){
          position: absolute;
        }
        @include custem-screen(xs, md) {
          height: 118px !important;
          width: 250px;
          right: -71px;
          top: -82px;
        }
        @include screen(xxs) {
          height: 89px !important;
          width: 250px;
          top: -63px !important;
          right: -108px;
        }
        @include screen(md) {
          height: 200.45px !important;
          width: 190px !important;
          display: inline-block;
        }
        @include screen(lg) {
          width: 292.1px !important;
          height: 200.45px !important;
        }
        @include screen(xlg) {
          min-height: 17.438rem !important;
          display: inline-block;
          width: 344.1px !important;
        }
        &__img {
          width: 344.1px;
          height: 100%;

          @include BreakPoint(md) {
            width: 189px;
          }
          @include custem-screen(md, lg) {
            width: 264.1px !important;
          }
        }
      }

      &__p-div {
        display: inline-block;
        position: relative;
        font-family: map-get($fonts, paragraphFont);
        font-size: 33px;

        @include custem-screen(sm, lg) {
          font-size: 20px;
        }
        @include screen(xxs) {
          font-size: 10px !important;
        }
        @include screen(xs) {
          font-size: 15px;
        }

        @include screen(lg) {
          font-size: 22px;
        }
        @include screen(xlg) {
          font-size: 29px;
        }
        &__p {
          margin: 0;
        }
      }
    }
  }
  &__overflow-imgs {
    &__Ellipse {
      right: -200px;
      top: 185px;
      width: 610px;
      height: 448px;
      transform: rotate(48deg);
      z-index: -999;
      position: absolute;

      @include BreakPoint(sm) {
        top: 300px;
        width: 576px;
        height: 408px;
      }
      @include screen(md) {
        width: 523px;
        height: 398px;
      }
      @include screen(xxs) {
        top: 271px;
        width: 300px !important;
        height: 300px !important;
      }
    }

    &__Repeat6 {
      top: 479px;
      width: 252px;
      height: 309px;
      left: -48px;
      z-index: -999;
      position: absolute;

      @include BreakPoint(sm) {
        top: 418px;
      }
      @include screen(md) {
        top: 383px;
      }
    }
    &__Repeat5 {
      right: 153px;
      bottom: -211px;
      z-index: -999;
      position: absolute;

      @include BreakPoint(sm) {
        right: -123px;
      }
      @include screen(md) {
        right: 68px;
        bottom: -209px;
      }
    }
  }
}
