<!-- <section class="{{ClassName}}-password-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="{{ClassName}}-password-content">
          <div class="row">
            <div class="col-12">
              <ng-content select=".{{ClassName}}-password-background"></ng-content>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="{{ClassName}}-password-image-div">
                <img class="{{ClassName}}-password-image-img" [src]="ImgUrl" alt="">
              </div>
            </div>
            <div class="col-lg-6">
             <ng-content select="form"></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
