<section class="manager center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-8 offset-2">
        <div class="manager__inner center">
          <div class="manager__inner__header center">
            <div class="manager__inner__header__logo mb-3">
              <img src="../../../../../assets/logo/Fingerprint_.webp" alt="...">
            </div>
            <h4 class="manager__inner__header__logo-title">
              Fingerprint Authentication
            </h4>
          </div>
          <hr>
          <div class="manager__inner__content">

            <form class="manager__inner__content__manager-info" [formGroup]="adminForm" (ngSubmit)="FormSubmited()"
              novalidate>
              <div class="row">
                <div class="col-12">
                  <div class="manager__inner__content__manager-info__content">
                    <div class="row">
                      <div class="col-12">
                        <!-- mather Information -->
                        <div class="manager__inner__content__manager-info__content__admin-information">
                          <div class="row">
                            <div class="col-12">
                              <!-- admin Information -->
                              <div class="manager__inner__content__manager-info__content__admin-information__form">
                                <!-- admin ID -->
                                <div
                                  class="my-3 manager__inner__content__manager-info__content__admin-information__form__admin-id">
                                  <label for="admin-id"
                                    class="form-label manager__inner__content__manager-info__content__admin-information__form__admin-id__label">
                                    ID
                                  </label>
                                  <input type="admin-id" formControlName="adminId"
                                    class="form-control manager__inner__content__manager-info__content__admin-information__form__admin-id__input"
                                    id="admin-id" placeholder="3014 353 235 1234" [maxlength]="14" />
                                  <app-validation-errors-component [Form]="adminForm" [control]="'adminId'"
                                    [minLength]="14" [maxLength]="14" [massegeError]="massegeError"
                                    *ngIf="adminForm.controls['adminId'].touched || formSubmited">
                                  </app-validation-errors-component>
                                </div>
                                <!-- admin address-->
                                <div
                                  class="my-3 manager__inner__content__manager-info__content__admin-information__form__admin-address">
                                  <label for="admin-address"
                                    class="form-label manager__inner__content__manager-info__content__admin-information__form__admin-address__label">
                                    Address
                                  </label>
                                  <input type="text" formControlName="admin_address"
                                    class="form-control manager__inner__content__manager-info__content__admin-information__form__admin-name__input"
                                    id="admin-name" placeholder="Lara Samy Ashraf Abdul Basset" />
                                  <app-validation-errors-component [Form]="adminForm" [control]="'admin_address'"
                                    [massegeError]="massegeError"
                                    *ngIf="adminForm.controls['admin_address'].touched || formSubmited">
                                  </app-validation-errors-component>
                                </div>

                                <!-- admin street-->
                                <div
                                  class="my-3 manager__inner__content__manager-info__content__admin-information__form__admin-street">
                                  <label for="admin-street"
                                    class="form-label manager__inner__content__manager-info__content__admin-information__form__admin-street__label">
                                    Street
                                  </label>
                                  <input type="text" formControlName="admin_street"
                                    class="form-control manager__inner__content__manager-info__content__admin-information__form__admin-name__input"
                                    id="admin-name" placeholder="Lara Samy Ashraf Abdul Basset" />
                                  <app-validation-errors-component [Form]="adminForm" [control]="'admin_street'"
                                    [massegeError]="massegeError"
                                    *ngIf="adminForm.controls['admin_street'].touched || formSubmited">
                                  </app-validation-errors-component>
                                </div>

                                <!-- admin password-->
                                <div
                                  class="my-3 manager__inner__content__manager-info__content__admin-information__form__admin-password">
                                  <label for="admin-password"
                                    class="form-label manager__inner__content__manager-info__content__admin-information__form__admin-password__label">
                                    Enter your new password
                                  </label>
                                  <input type="text" formControlName="admin_password"
                                    class="form-control manager__inner__content__manager-info__content__admin-information__form__admin-name__input"
                                    id="admin-password" placeholder="1111111111" />
                                  <app-validation-errors-component [Form]="adminForm" [control]="'admin_password'"
                                    [minLength]="8" [massegeError]="massegeError"
                                    *ngIf="adminForm.controls['admin_password'].touched || formSubmited">
                                  </app-validation-errors-component>

                                </div>

                                <!-- admin phone-->
                                <div
                                  class="my-3 manager__inner__content__manager-info__content__admin-information__form__admin-phone">
                                  <label for="admin-phone"
                                    class="form-label manager__inner__content__manager-info__content__admin-information__form__admin-phone__label">
                                    phone
                                  </label>
                                  <input type="text" formControlName="admin_phone"
                                    class="form-control manager__inner__content__manager-info__content__admin-information__form__admin-phone__input"
                                    id="admin-phone" placeholder="01234567891" />
                                  <app-validation-errors-component [Form]="adminForm" [control]="'admin_phone'"
                                    [minLength]="10" [maxLength]="10" [pattern]="'loaded without the first 0'"
                                    [massegeError]="massegeError"
                                    *ngIf="adminForm.controls['admin_phone'].touched || formSubmited">
                                  </app-validation-errors-component>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit"
                      class="btn btn-primary mt-4 manager__inner__content__manager-info__content__button">
                      Add Admin
                    </button>
                    <a routerLink="/Owner/home/delete" style="background:red !important" class="btn btn-primary mt-4 manager__inner__content__manager-info__content__button" >
                      Delete Admin
                    </a>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
