<div class="row">
  <div class="col-12">
    <div class="check">
      <div class="row">
        <div class="col-12">
          <div class="check__title-scan">
            <h1 class="check__title-scan__h1">Scan, upload Fingerprint or Enter User ID</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="check__finger">
            <div class="check__finger__finger-img mb-3">
              <ng-container *ngIf="!ImgUploaded; else greenImg">
                <img class="check__finger__finger-img__img" src="../../../../../assets/icons/blue Fingerprint.svg"
                  alt="">
              </ng-container>
              <ng-template #greenImg>
                <img class="check__finger__finger-img__img" src="../../../../../assets/icons/green fingerprint.svg"
                  alt="">
              </ng-template>
            </div>
            <button class="check__finger__button" (click)="uploader.click()" >
              <input  hidden type="file" (change)="ImgAdded($event)" #uploader [disabled]="ImgUploaded" /> Upload image </button>
          </div>
        </div>
        <div class="col-8">
          <!-- ID Information -->
          <div class="check__ByID">
            <!-- ID name-->
            <div class="my-3 check__ByID__ID">
              <label for="ID" class="form-label check__ByID__ID__label my-2">Enter ID</label>
              <input type="text" class="form-control check__ByID__ID__input" id="ID" placeholder="3014 353 235 1234">
            </div>
            <button class="mt-3 check__ByID__button" [disabled]="ImgUploaded" [routerLink]="['/Admin/profile']" > Search </button>
          </div>
        </div>
      </div>
    </div>
  </div>
