/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

.pin-password {
  &__content {
    &__background {
      &__title {
        right: 8%;
        top: 27%;
        letter-spacing: 17.44px;
        @include screen(xxs) {
          letter-spacing: 1.86px;
          right: 16%;
          top: 18%;
        }
        @include screen(xs) {
          letter-spacing: 1.86px;
          right: 12%;
          top: 17%;
        }
        @include screen(sm) {
          right: 20%;
          top: 19%;
          letter-spacing: 4.58px;
        }
        @include screen(md) {
          right: 11%;
          top: 26%;
          letter-spacing: 5.58px;
        }
        @include screen(lg) {
          right: 14%;
          top: 29%;
          letter-spacing: 10.44px;
        }
        @include screen(xlg) {
          right: 8%;
          top: 25%;
          letter-spacing: 13.58px;
        }
        &__p {
          font-size: 47px;

          @include screen(xxs) {
            font-size: 12px;
          }
          @include screen(xs) {
            font-size: 17px;
          }
          @include screen(sm) {
            font-size: 21px;
          }
          @include screen(md) {
            font-size: 23px;
          }
          @include screen(lg) {
            font-size: 30px;
          }
          @include screen(xlg) {
            font-size: 40px;
          }
        }
      }
    }
    &__image-div {
      width: 358.09px;

      @include screen(xxs) {
        width: 106px;
      }
      @include screen(xs) {
        width: 142.66px;
      }
      @include screen(sm) {
        width: 147.66px;
      }
      @include screen(md) {
        width: 201.58px;
      }
      @include screen(lg) {
        width: 280.28px;
      }
      @include screen(xlg) {
        width: 282.28px;
      }
    }
    &__form {
      width: 70%;
      margin: 0px auto 0 auto;

      @include screen(xxs) {
        width: 90%;
        margin: 30px auto 0 auto;
      }
      @include custem-screen(xs, md) {
        width: 80%;
        margin: 30px auto 0 auto;
      }
      @include screen(md) {
        width: 70%;
        margin: 23px auto 0 auto;
      }
      @include screen(lg) {
        width: 80%;
      }
      &__input-div {
        &__p {
          font-size: 23px;
          font-family: map-get($fonts, headingFont);
          padding-left: 21px;

          @include screen(xxs) {
            font-size: 12px;
            margin-left: 10%;
            padding-left: 0;
          }
          @include screen(xs) {
            font-size: 13px;
            margin-left: 10%;
            padding-left: 0;
          }
          @include screen(sm) {
            font-size: 21px;
            margin-left: 8%;
            padding-left: 0;
          }
          @include screen(md) {
            font-size: 21px;
            padding-left: 11%;
          }
          @include screen(lg) {
            font-size: 18px;
          }
          @include screen(xlg) {
            font-size: 19px;
          }
          &__span {
            font-family: map-get($fonts, Medium);
          }

          &__a {
            font-family: map-get($fonts, labelFont);
            color: $main-color;
          }
        }
        &__p-recieve {
          text-align: center;
          font-size: 22px;
          letter-spacing: -0.53px;
          color: #8f8f8f;
          font-family: "SFUIText-Medium";

          @include BreakPoint(xs) {
            margin-bottom: 0;
            font-size: 11px;
          }
          @include screen(sm) {
            font-size: 14px;
          }
          @include screen(md) {
            font-size: 18px;
          }
          @include screen(lg) {
            font-size: 13px;
          }
          @include screen(xlg) {
            padding: 0px 26px;
            font-size: 17px;
          }
          &__a {
            color: $main-color;
          }
        }
        /* Input properities Didn't taken from global*/
        input {
          width: 322px;
          margin:45px auto 20px auto;
          height: 80px;
          font-size: 46px;
          border: 2px solid $main-color-light;
          border-radius: 24px;
          background-color: $white;
          text-align: center;
          padding: 0 !important;
          @include screen(xxs) {
            width: 150px;
            margin: 20px auto 12px auto;
            height: 40px;
            font-size: 21px;
            border-radius: 12px;
          }
          @include screen(xs) {
            width: 206px;
            margin: 20px auto 12px auto;
            height: 45px;
            font-size: 23px;
            border-radius: 12px;
          }
          @include screen(sm) {
            width: 231px;
            height: 60px;
            font-size: 33px;
            border-radius: 19px;
            margin: 30px auto 27px auto;
          }
          @include screen(md) {
            width: 275px;
            height: 50px;
            font-size: 30px;
            margin: 18px auto 27px auto;
            border-radius: 17px;
          }
          @include screen(lg) {
            width: 192px;
            margin: 27px auto 20px auto;
            height: 50px;
            font-size: 26px;
            border-radius: 19px;
          }
          @include screen(xlg) {
            width: 230px;
            margin: 20px auto 20px auto;
            height: 55px;
            font-size: 35px;
            border-radius: 17px;
          }
          &::placeholder {
            font-weight: bold;

            @include BreakPoint(xs) {
              font-size: 23px;
            }
            @include screen(sm) {
              font-size: 33px;
            }
            @include screen(md) {
              font-size: 34px;
            }
            @include screen(lg) {
              font-size: 26px;
            }
            @include screen(xlg) {
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}
