/* 
    Delete or Discrad => $s-light-gray
    Save, Add , icons , a:hover , active => $p-pink
    main (a), header, th, td => $s-black
    sub (a) => $s-dark-gray
*/

// Border color
$border-color: #eff0f1;

// background for input, tables and body
$secondary-background: #f8f8f9;

$p-cyan: #13c9ca;
$p-yellow:  #ffbc58;
$p-pink: #ff8084;
$s-light-gray: #a5a5a5;
$s-light2-gray: #f8f8f9;
$s-dark-gray: #898989;
$s-main-black: #000;
$s-black: #313131;
$s-white: #fff;
$g-success-color: #81ba00 ;
$custom-theme-colors: (
  "p-cyan": $p-cyan,
  "p-yellow": $p-yellow,
  "p-pink": $p-pink,
  "s-light-gray": $s-light-gray,
  "s-light2-gray": $s-light2-gray,
  "s-dark-gray": $s-dark-gray,
  "s-black": $s-black,
  "s-white": $s-white,
  "secondary-background": $secondary-background,
  "g-success-color": $g-success-color,
);

