$main-color: #34318a;
$main-color-light: #5c5b99;
$main-color-brightness: #7380f2;
$nav-dropdown: #f3f3f3;
$gray-color: #8f8f8f;
$gray-color-light: #707070;
$gray-color-brightness: #f3f3f38f;
$shadow-color: #8f8f8f47;
$black: black;
$black-1:#00000029;
$white: white;
$dashboard-admin: #2A3B60;
$dashboard-admin-titles: #6C5DD3;
$custom-theme-colors: (
  "b-blue": $main-color,
  "b-light-blue": $main-color-light,
  "b-brightness-blue": $main-color-brightness,
  "s-gray": $gray-color,
  "s-light-gray": $gray-color-light,
  "s-brigthness-gray": $gray-color-brightness,
  "s-dark-gray": $shadow-color,
  "s-nav-dropdown": $nav-dropdown,
  "s-black": $black,
  "s-black-1": $black-1,
  "s-white": $white,
  "d-dashboard-admin": $dashboard-admin,
  "d-dashboard-admin-titles": $dashboard-admin-titles
);
