$main-color: rgb(52 49 138);
$main-color-light: rgb(92 91 153);
$main-color-brightness: rgb(115 128 242);
$nav-dropdown: #F3F3F3;
$gray-color: rgb(143 143 143);
$gray-color-light: rgb(112, 112, 112);
$gray-color-brightness: rgba(243, 243, 243, 0.56);
$shadow-color: rgba(143, 143, 143, 0.28);
$black: black;
$black-1:#00000029;
$white: white;

$custom-theme-colors: (
  "b-blue": $main-color,
  "b-light-blue": $main-color-light,
  "b-brightness-blue": $main-color-brightness,
  "s-gray": $gray-color,
  "s-light-gray": $gray-color-light,
  "s-brigthness-gray": $gray-color-brightness,
  "s-dark-gray": $shadow-color,
  "s-nav-dropdown": $nav-dropdown,
  "s-black": $black,
  "s-black-1": $black-1,
  "s-white": $white,
);
