@use "~../../../../scss/helpers/colors" as *;

@mixin fonts {
  /*
  ==========================================================================
                          import local fonts
  =========================================================================
*/
  @font-face {
    font-family: "SFUI";
    src: url("/assets/fonts/San/SFUIText/SFUIText-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "SFUIRegular";
    src: url("/assets/fonts/San/SFUIDisplay/SFUIDisplay-Regular.otf")
      format("opentype");
  }
  @font-face {
    font-family: "BalooBhaijaan2Regular";
    src: url("/assets/fonts/San/Baloo/BalooBhaijaan2-VariableFont_wght.ttf");
  }
}

$screens:(
  "xxs": 0,
  "xs": 380px,
  "sm": 575.98px,
  "md": 767.98px,
  "lg": 991.98px,
  "xlg": 1199.98px,
  "xxlg": 1399px
);
/* =======================================
       Media query
==========================================*/

@mixin custem-screen($firstScreen, $secondScreen){
  @media (min-width: map-get($screens, $firstScreen)) and (max-width: map-get($screens, $secondScreen)) {
    @content;
  }
}


@mixin screen($point) {
  @if $point == xxs {
    // XXX-Small devices (portrait phones, less than 380px)
    @media (max-width: 380px) {
      @content;
    }
  } @else if $point == xs {
    // X-Small devices (portrait phones, between 381px and 576px)
    @media (min-width: 381px) and (max-width: 575.98px) {
      @content;
    }
  } @else if $point == sm {
    // Small devices (landscape phones, less than 768px)
    @media (min-width: 575.98px) and (max-width: 767.98px) {
      @content;
    }
  } @else if $point == md {
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      @content;
    }
  } @else if $point == lg {
    // Large devices (desktops, less than 1200px)
    @media (min-width: 991.98px) and (max-width: 1199.98px) {
      @content;
    }
  } @else if $point == xlg {
    // X-Large devices (large desktops, less than 1400px)
    @media (min-width: 1199.98px) and (max-width: 1399.98px) {
      @content;
    }
  }
}

/* =======================================
       Breakpoints
==========================================*/
@mixin BreakPoint($point) {
  @if $point == xxs {
    // XXX-Small devices (portrait phones, less than 380px)
    @media (max-width: 380px) {
      @content;
    }
  } @else if $point == xs {
    // X-Small devices (portrait phones, between 381px and 576px)
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $point == sm {
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $point == md {
    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
      @content;
    }
  } @else if $point == lg {
    // Large devices (desktops, less than 1200px)
    @media (max-width: 1199.98px) {
      @content;
    }
  } @else if $point == xlg {
    // X-Large devices (large desktops, less than 1400px)
    @media (max-width: 1399.98px) {
      @content;
    }
  }
}

/* =======================================

  Global style to heading

==========================================*/
@mixin Heading-size {
  font-size: 59px;
  font-weight: 500;
  font-family: "SFUIRegular";

  @include screen(xxs) {
    font-size: 18px !important;
  }
  @include screen(xs) {
    font-size: 31px;
  }

  @include screen(sm) {
    font-size: 40px;
  }

  @include screen(md) {
    font-size: 33px;
  }

  @include screen(lg) {
    font-size: 44px;
  }

  @include screen(xlg) {
    font-size: 53px;
  }
}

/* =======================================
  Global style to Pargraph
==========================================*/

@mixin Paragraph-size {
  font-family: "BalooBhaijaan2Regular";
  font-size: 33px;

  @include screen(xxs) {
    font-size: 10px !important;
  }
  @include screen(xs) {
    font-size: 15px;
  }
  /*
    Here sm = 575, lg = 991
    sm = from 575 to 767
    md = from 767 to 991
  */
  @include custem-screen(sm, lg){
    font-size: 20px;
  }
  @include screen(lg) {
    font-size: 22px;
  }
  @include screen(xlg) {
    font-size: 29px;
  }
}

/* ===============================
  Global Margin left content
=================================*/

@mixin margin-content-left {
  margin-left: 168px;

  @include BreakPoint(xs) {
    margin-left: 25px;
    margin-right: 25px;
  }
  /*
    Here sm = 575, lg = 991
    sm = from 575 to 767
    md = from 767 to 991
  */

  @include custem-screen(sm, lg){
    margin-left: 82px;
    margin-right: 82px;
  }

  /*
    Here md = 767, xxlg = 1399
    md = from 767 to 991
    lg = from 991 to 1199
    xlg = from 1199 to 1399
  */

  @include custem-screen(md, xxlg){
    width: 82%;
  }
  @include screen(lg) {
    margin-left: 86px;
  }
  @include screen(xlg) {
    margin-left: 91px;
  }
}

/*
  ==============================================
            Style for left banner part
  ==============================================
*/

@mixin search-icon-responsive {
  @include screen(xxs) {
    width: 15px;
    height: 15px;
    left: 23px;
    top: 14px;
  }
  @include screen(xs) {
    width: 20px;
    height: 20px;
    left: 30px;
    top: 19px;
  }
  /*
    Here sm = 575, lg = 991
    sm = from 575 to 767
    md = from 767 to 991
  */
  @include custem-screen(sm, lg){
    left: 22px;
    top: 16px;
    width: 20px;
    height: 20px;
  }
  @include screen(lg) {
    width: 25px;
    height: 25px;
    left: 27px;
    top: 17px;
  }
}

/* =======================================
   input that belong to the search form
==========================================*/

@mixin search-input-field {
  @include screen(xxs) {
    font-size: 14px !important;
    height: 40px !important;
    padding-left: 3.1rem !important;
  }

  /*
    Here xs = 380, md = 767
    xs = from 380 to 575
    sm = from 575 to 767
  */
  @include custem-screen(xs, md){
    font-size: 20px;
    height: 55px;
  }

  @include screen(md) {
    height: 49.6px !important;
    font-size: 21px;
    padding-left: 3rem;
  }
  @include screen(lg) {
    height: 55px;
    font-size: 21px;
  }
}

/* =================================================

 placeholder input that belong to the search form

=====================================================*/

@mixin search-input-placeholder {
  @include screen(xxs) {
    font-size: 12px !important;
  }
  @include screen(xs) {
    font-size: 17px !important;
  }
  @include screen(sm) {
    font-size: 18px;
  }
  @include screen(md) {
    font-size: 19px;
  }
  @include screen(lg) {
    font-size: 26px;
  }
}

/* ===========================================================

 First paragraph in Ul that belong to the search form result

===============================================================*/

@mixin search-address-p {
  @include screen(xxs) {
    font-size: 13px !important;
  }
  @include screen(xs) {
    font-size: 17px !important;
  }
   /*
    Here sm = 575, lg = 991
    sm = from 575 to 767
    md = from 767 to 991
  */
  @include custem-screen(sm, lg){
    font-size: 20px;
  }
  @include screen(lg) {
    font-size: 24px;
  }
}

/* ===========================================================

 Second paragraph in Ul that belong to the search form result

===============================================================*/

@mixin search-street-p {
  @include screen(xxs) {
    font-size: 11px !important;
    margin-bottom: 0;
  }
  @include screen(xs) {
    font-size: 13px !important;
  }
  /*
    Here sm = 575, lg = 991
    sm = from 575 to 767
    md = from 767 to 991
  */
  @include custem-screen(sm, lg){
    font-size: 17px;
  }
  @include screen(lg) {
    font-size: 19px;
  }
}

/*
  ====================================================
                     Style for right banner part
  =====================================================
*/

@mixin right-banner-div {
  @include BreakPoint(xs) {
    width: 66%;
    margin: auto;
  }
  @include screen(sm) {
    margin-top: -30px;
    width: 435.12px;
    margin: auto;
  }
  /*
    Here md = 767, xxlg = 1399
    md = from 767 to 991
    lg = from 991 to 1199
    xl = from 1199 to 1399
  */
  @include custem-screen(md, xxlg){
    width: 100%;
  }

  @include screen(md) {
    margin-top: 0px;
  }
  /*
    Here lg = 991, xxlg = 1399
    lg = from 991 to 1199
    xlg = from 1199 to 1399
  */
  @include custem-screen(lg, xxlg){
    margin-top: -30px;
  }
}

/*
  ================================================
                     Style for Services
  ================================================
*/

@mixin service-margin-top {
  @include BreakPoint(xs) {
    margin-top: 109px !important;
  }
  @include screen(sm) {
    margin-top: 115px !important;
  }
}

@mixin border-properities($dir) {
  border-bottom-#{$dir}-radius: 4.375rem;
  border-top-#{$dir}-radius: 4.375rem;
  @if (#{$dir} == "right") {
    border-left: none !important;
  } @else {
    border-right: none !important;
  }

  @include BreakPoint(sm){
    border-bottom-#{$dir}-radius: 2.375rem;
    border-top-#{$dir}-radius: 2.375rem;
    @if (#{$dir} == "right") {
      padding-right: 49px !important;
    }
  }
  @include screen(md) {
    border-bottom-#{$dir}-radius: 3.375rem;
    border-top-#{$dir}-radius: 3.375rem;
  }
}

/*
  =============================================================
    Image that belong to each direction in steps  properities
  =================================================================
*/
@mixin img-direction-properities($dir) {
  position: relative;

  @include screen(xxs) {
    height: 89px !important;
    top: -63px !important;
    width: 250px;
    position: absolute;
    @if (#{$dir} == "right") {
      left: -60px;
    } @else {
      right: -108px;
    }
  }

  /*
    Here xs = 380, md = 767
    xs = from 380 to 575
    sm = from 575 to 767
  */
  @include custem-screen(xs, md){
    height: 118px !important;
    width: 250px;
    position: absolute;
    @if (#{$dir} == "right") {
      top: -74px;
      position: absolute;
      left: -64px;
    } @else {
      right: -71px;
      top: -82px;
      position: absolute;
    }
  }
  @include screen(md) {
    width: 190px !important;
    display: inline-block;
    height: 200.45px !important;
  }
  @include screen(lg) {
    width: 292.1px !important;
  }
  @include screen(xlg) {
    min-height: 17.438rem !important;
    display: inline-block;
    @if (#{$dir} == "right") {
      width: 292.1px !important;
    } @else {
      width: 344.1px !important;
    }
  }
}

/*
  ================================================================
    Paragraph that belong to each direction in steps  properities
  ===============================================================
*/

@mixin step-direction-div {
  border: 5px solid $main-color-brightness;
  box-shadow: 0 0 1.6rem $shadow-color;
  max-width: 1748px;
  min-height: 20.438rem;
  display: flex;
  background-color: $white !important;

  @include screen(xxs) {
    width: 100%;
    min-height: 9.438rem;
  }
  /*
    Here xs = 380, md = 767
    xs = from 380 to 575
    sm = from 575 to 767
  */
  @include custem-screen(xs, md){
    width: 88%;
    min-height: 12.563rem !important;
  }
  @include screen(md) {
    min-height: 13.5625rem !important;
    width: 95%;
  }
  @include screen(lg) {
    min-height: 15.438rem !important;
  }
  @include screen(xlg) {
    min-height: 17.438rem !important;
    width: 99%;
  }
}

/*
  ================================================
          Steps divs properities
  ================================================
*/
@mixin p-direction-properities {
  display: inline-block;
  position: relative;
  @include Paragraph-size;
}
@mixin collection-div {
  display: flex;
  align-items: center;
  @include margin-content-left;

  @include BreakPoint(sm){
    position: relative;
    margin: 0 0 -9px 9% !important;
  }
}

/*
  ================================================
          Overflow images properities
  ================================================
*/

@mixin overflow-images($name) {
  z-index: -999;
  position: absolute;

  @include BreakPoint(sm){
    @if (#{$name} == "Ellipse") {
      top: 300px;
      width: 576px;
      height: 408px;
    } @else if(#{$name} == "Repeat6") {
      top: 418px;
    } @else {
      right: -123px;
    }
  }
  @include screen(md) {
    @if (#{$name} == "Ellipse") {
      width: 523px;
      height: 398px;
    } @else if(#{$name} == "Repeat6") {
      top: 383px;
    } @else {
      right: 68px;
      bottom: -209px;
    }
  }

  @if (#{$name}== "Ellipse") {
    @include screen(xxs) {
      top: 271px;
      width: 300px !important;
      height: 300px !important;
    }
  }
}

/*
  ============================================
                     Style for Footer
  ==============================================
*/

@mixin footer-properities {
  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 16.6px;
  }
  @include screen(md) {
    font-size: 19.6px;
  }
  @include screen(lg) {
    font-size: 20.6px;
  }
}

/*
  ============================================
      Input that belong to form in the footer
  ==============================================
*/

@mixin input-form-properities {
  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 21px;
  }
  @include screen(md) {
    font-size: 19.6px;
  }
  @include BreakPoint(md){
    width: 80%;
    padding: 0 30px;
    border: none !important;
    border-radius: 11px !important;
    color: $white;
  }
  @include screen(lg) {
    font-size: 20px;
    width: 237.15px;
  }
}


/*
  ============================================
      Button that belong to form in the footer
  ==============================================
*/

@mixin footer-form-btn {
  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 21px;
  }
  @include screen(md) {
    font-size: 19.6px;
  }

  @include BreakPoint(md){
    width: 20% !important;
    border: none !important;
    margin-top: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  @include screen(lg) {
    font-size: 20px;
    width: 237.15px;
  }
}
