@use "~../../../../scss/helpers/colors" as *;

@mixin fonts {
  /*
  ==========================================================================
                          import local fonts
  =========================================================================
*/
  @font-face {
    font-family: "SFUI";
    src: url("/assets/fonts/San/SFUIText/SFUIText-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "SFUIRegular";
    src: url("/assets/fonts/San/SFUIDisplay/SFUIDisplay-Regular.otf")
      format("opentype");
  }
  @font-face {
    font-family: "BalooBhaijaan2Regular";
    src: url("/assets/fonts/San/Baloo/BalooBhaijaan2-VariableFont_wght.ttf");
  }
}

$screens:(
  "xxs": 0,
  "xs": 380px,
  "sm": 575.98px,
  "md": 767.98px,
  "lg": 991.98px,
  "xlg": 1199.98px,
  "xxlg": 1399px
);
$fonts:(
  headingFont: "SFUIRegular",
  paragraphFont: "BalooBhaijaan2Regular"
);
/* =======================================
       Media query
==========================================*/

@mixin custem-screen($firstScreen, $secondScreen){
  @media (min-width: map-get($screens, $firstScreen)) and (max-width: map-get($screens, $secondScreen)) {
    @content;
  }
}


@mixin screen($point) {
  @if $point == xxs {
    // XXX-Small devices (portrait phones, less than 380px)
    @media (max-width: 380px) {
      @content;
    }
  } @else if $point == xs {
    // X-Small devices (portrait phones, between 381px and 576px)
    @media (min-width: 381px) and (max-width: 575.98px) {
      @content;
    }
  } @else if $point == sm {
    // Small devices (landscape phones, less than 768px)
    @media (min-width: 575.98px) and (max-width: 767.98px) {
      @content;
    }
  } @else if $point == md {
    // Medium devices (tablets, less than 992px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
      @content;
    }
  } @else if $point == lg {
    // Large devices (desktops, less than 1200px)
    @media (min-width: 991.98px) and (max-width: 1199.98px) {
      @content;
    }
  } @else if $point == xlg {
    // X-Large devices (large desktops, less than 1400px)
    @media (min-width: 1199.98px) and (max-width: 1399.98px) {
      @content;
    }
  }
}

/* =======================================
       Breakpoints
==========================================*/
@mixin BreakPoint($point) {
  @if $point == xxs {
    // XXX-Small devices (portrait phones, less than 380px)
    @media (max-width: 380px) {
      @content;
    }
  } @else if $point == xs {
    // X-Small devices (portrait phones, between 381px and 576px)
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $point == sm {
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $point == md {
    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
      @content;
    }
  } @else if $point == lg {
    // Large devices (desktops, less than 1200px)
    @media (max-width: 1199.98px) {
      @content;
    }
  } @else if $point == xlg {
    // X-Large devices (large desktops, less than 1400px)
    @media (max-width: 1399.98px) {
      @content;
    }
  }
}


/*
  ============================================
                     Style for Footer
  ==============================================
*/

@mixin footer-properities {
  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 16.6px;
  }
  @include screen(md) {
    font-size: 19.6px;
  }
  @include screen(lg) {
    font-size: 20.6px;
  }
}

/*
  ============================================
      Input that belong to form in the footer
  ==============================================
*/

@mixin input-form-properities {
  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 21px;
  }
  // @include screen(md) {
  //   font-size: 19.6px;
  // }
  @include BreakPoint(md){
    width: 80%;
    padding: 0 30px;
    border: none !important;
    border-radius: 11px !important;
    color: $white;
  }
  @include screen(lg) {
    font-size: 20px;
    width: 237.15px;
  }
}


/*
  ============================================
      Button that belong to form in the footer
  ==============================================
*/

@mixin footer-form-btn {
  @include screen(xxs) {
    font-size: 12.6px;
  }
  @include screen(xs) {
    font-size: 15.6px;
  }
  @include screen(sm) {
    font-size: 21px;
  }
  // @include screen(md) {
  //   font-size: 25px;
  // }
  @include screen(lg) {
    font-size: 20px ;
    width: 237.15px;
  }
  @include BreakPoint(md){
    width: 20% !important;
    border: none !important;
    margin-top: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
