/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;

@include fonts;

* {
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  // font-family: "SFUI" !important;
  font-family: "SFUI" !important;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}
.btn {
  background-color: $main-color-light !important;
  color: $white;
  border-radius: 42px !important;
  border: none !important;
}

.section-padding{
  padding: 0px 10rem;
}
.section-margin{
  // margin-top: 3.25rem !important;
  margin-top: 126.12px !important;
}
