<div class="container d-flex align-items-center justify-content-center" style="height: 100vh" >
  <div
    class="row">
    <div class="col-md-5">
      <div class="ErrorImg">
        <img
          style="max-width: 100%"
          src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg?format=500w"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-7 d-flex align-items-center justify-content-center" >
      <div class="content" style="margin: 0 auto;">
      <h1>Awww...Don’t Cry.</h1>
      <p>
        It's just a 404 Error!<br />
        What you’re looking for may have been misplaced in Long Term Memory.
      </p>
    </div>
    </div>
  </div>
</div>
