/* import colors and mixins*/
@use "~../../../../scss/helpers/colors" as *;
@use "~../../../../scss/helpers/mixins" as *;

.container {
  @include BreakPoint(sm) {
    height: 89vh !important;
  }

  .ErrorImg {
    @include BreakPoint(sm) {
      width: 50%;
      margin: 0 auto;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__h1 {
      text-align: center;
      white-space: pre-wrap;
      font-weight: 900;
      font-size: 3vw;
      letter-spacing: 0.29em;
      line-height: 1em;
      text-transform: uppercase;
      font-family: map-get($fonts, headingFont);
      @include BreakPoint(sm) {
        font-size: 7vw;
      }
    }
    &__p {
      font-size: 1vw;
      letter-spacing: 0em;
      line-height: 1.7em;
      color: $gray-color-light;
      text-align: center;
      font-family: map-get($fonts, Medium);
      @include BreakPoint(sm) {
        font-size: 2.5vw;
      }
    }
    &__a {
      border: 2px solid $dashboard-admin-titles;
      border-radius: 11px;
      text-decoration: none !important;
      padding: 1rem 7rem;
      font-size: 1.2rem;
      font-family: map-get($map: $fonts, $key: paragraphFont);
      background: $dashboard-admin-titles;
      color: white;
    }
  }
}
