<form class="personal-info" [formGroup]="userForm" (change)="FormEdited()" novalidate>
  <div class="row">
    <div class="col-6">
      <div class="personal-info__content">
        <div class="row">
          <div class="col-12">
            <!-- general information -->
            <div class="personal-info__content__generate-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__generate-information__title">
                    <p class="personal-info__content__generate-information__title__p">
                      General Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__generate-information__form">
                    <!-- full name -->
                    <div class="my-3 personal-info__content__generate-information__form__full-name">
                      <label for="fullName"
                        class="form-label personal-info__content__generate-information__form__full-name__label">Full
                        Name
                      </label>
                      <input type="text"
                        class="form-control personal-info__content__generate-information__form__full-name__input"
                        id="fullName" formControlName="fullName" placeholder="Ammmr mahmoud">
                    </div>
                    <!-- Check gender -->
                    <div class="personal-info__content__generate-information__form__form-check-parent">
                      <label for="ratio-check"
                        class="form-label d-block personal-info__content__generate-information__form__form-check-parent__label">
                        Gender
                      </label>
                      <div class="personal-info__content__generate-information__form__form-check-parent__checks "
                        id="ratio-check">
                        <div
                          class="personal-info__content__generate-information__form__form-check-parent__checks__check my-2"
                          id="ratio-check">
                          <input
                            class="form-check-input personal-info__content__generate-information__form__form-check-parent__checks__check__input-ratio"
                            type="radio" name="flexRadioDefault" formControlName="gender" value="Male"
                            id="flexRadioDefault1">
                          <label
                            class="form-check-label personal-info__content__generate-information__form__form-check-parent__checks__check__label-ratio"
                            for="flexRadioDefault1">
                            Male
                          </label>
                        </div>
                        <div class="personal-info__content__generate-information__form__form-check-parent__check">
                          <input
                            class="form-check-input form-check-parent-input personal-info__content__generate-information__form__form-check-parent__checks__check__input-ratio"
                            type="radio" name="flexRadioDefault" formControlName="gender" value="Female"
                            id="flexRadioDefault2" checked>
                          <label
                            class="form-check-label personal-info__content__generate-information__form__form-check-parent__checks__check__label-ratio"
                            for="flexRadioDefault2">
                            Female
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- check nationality -->
                    <div
                      class="input-group mb-3 personal-info__content__generate-information__form__nationality-content-fields">
                      <div
                        class="my-3 personal-info__content__generate-information__form__nationality-content-fields__field">
                        <label for="Egyption"
                          class="form-label personal-info__content__generate-information__form__nationality-content-fields__field__label">Egyption</label>
                        <input type="text" id="Egyption"
                          class="form-control personal-info__content__generate-information__form__nationality-content-fields__field__input"
                          placeholder="Egyption" formControlName="nationality" aria-label="Egyption">
                      </div>
                      <div
                        class="my-3 personal-info__content__generate-information__form__nationality-content-fields__field">
                        <label for="fullName"
                          class="form-label personal-info__content__generate-information__form__nationality-content-fields__field__label">ID</label>
                        <input type="text"
                          class="form-control personal-info__content__generate-information__form__nationality-content-fields__field__input"
                          placeholder=" 3014 353 235 1234 " formControlName="id" aria-label="ID">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Birthday information -->
            <div class="personal-info__content__Birthday-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Birthday-information__title">
                    <p class="personal-info__content__Birthday-information__title__p">
                      Birth Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Birthday-information__form">
                    <!-- check Birthday -->
                    <div
                      class="input-group mb-3 personal-info__content__Birthday-information__form__Birthday-content-fields">
                      <div
                        class="my-3 personal-info__content__Birthday-information__form__Birthday-content-fields__field">
                        <label for="fullName"
                          class="form-label personal-info__content__Birthday-information__form__Birthday-content-fields__field__label">Birth
                          Place
                        </label>
                        <input type="text"
                          class="form-control personal-info__content__Birthday-information__form__Birthday-content-fields__field__input"
                          placeholder="Cairo" formControlName="birthPlace" aria-label="Birth Place">
                      </div>
                      <div
                        class="my-3 personal-info__content__Birthday-information__form__Birthday-content-fields__field">
                        <label for="Birth Date"
                          class="form-label personal-info__content__Birthday-information__form__Birthday-content-fields__field__label">Birth
                          Date
                        </label>
                        <input type="date"
                          class="form-control personal-info__content__Birthday-information__form__Birthday-content-fields__field__input"
                          aria-label="Birth Date" formControlName="birthDate">
                        <i
                          class="bi bi-calendar2-week personal-info__content__Birthday-information__form__Birthday-content-fields__field__i"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Connection Information -->
            <div class="personal-info__content__Connection-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Connection-information__title">
                    <p class="personal-info__content__Connection-information__title__p">
                      Connection Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Connection-information__form">
                    <!-- check Connection -->
                    <!-- Phone -->
                    <div class="my-3 personal-info__content__Connection-information__form__phone">
                      <label for="phone"
                        class="form-label personal-info__content__Connection-information__form__phone__label">Phone</label>
                      <input type="text"
                        class="form-control personal-info__content__Connection-information__form__phone__input"
                        id="phone" formControlName="phone" placeholder="01003623286">
                    </div>

                    <!-- Phone -->
                    <div class="my-3 personal-info__content__Connection-information__form__email">
                      <label for="email"
                        class="form-label personal-info__content__Connection-information__form__email__label">Email</label>
                      <input type="email"
                        class="form-control personal-info__content__Connection-information__form__email__input" email
                        id="email" formControlName="email" placeholder="name@example.com" email>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="personal-info__content">
        <div class="row">
          <div class="col-12">
            <!-- Address Information -->
            <div class="personal-info__content__Address-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Address-information__title">
                    <p class="personal-info__content__Address-information__title__p">
                      Address Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Address Information -->
                  <div class="personal-info__content__Address-information__form">
                    <!-- check Address -->

                    <!-- Current Address -->
                    <div class="my-3 personal-info__content__Address-information__form__current-address">
                      <label for="current-address"
                        class="form-label personal-info__content__Address-information__form__current-address__label">Current
                        Address</label>
                      <input type="text"
                        class="form-control personal-info__content__Address-information__form__current-address__input"
                        id="current-address" formControlName="street"
                        placeholder="Ismailia, Hospital street, next to post office">
                    </div>

                    <!-- Current City -->
                    <div class="my-3 personal-info__content__Address-information__form__current-address">
                      <label for="current-address"
                        class="form-label personal-info__content__Address-information__form__current-address__label">Current
                        Address</label>
                      <input type="current-address"
                        class="form-control personal-info__content__Address-information__form__current-address__input"
                        id="email" formControlName="address" placeholder="Ismailia">
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <!-- Health Information -->
            <div class="personal-info__content__Health-information mt-3">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Health-information__title">
                    <p class="personal-info__content__Health-information__title__p">
                      Health Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Health Information -->
                  <div class="personal-info__content__Health-information__form">
                    <!-- check Diseases -->
                    <!-- Diseases -->
                    <div class="my-3 personal-info__content__Health-information__form__Diseases">
                      <label for="Diseases"
                        class="form-label personal-info__content__Health-information__form__Diseases__label">Diseases</label>
                      <input type="text"
                        class="form-control personal-info__content__Health-information__form__Diseases__input"
                        name="diseases" #diseases id="diseases" placeholder="add diseases"
                        (keydown.enter)="AddDiseases(diseases)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Health-information__form-diseases-result">
                    <div class="row" *ngIf="diseasesSubject$ | async as diseases">
                      <div class="col-lg-3 mt-2 me-5" *ngFor="let diseas of diseases">
                        <div class="personal-info__content__Health-information__form-diseases-result__diseas">
                          <p class="personal-info__content__Health-information__form-diseases-result__diseas__p">
                            {{ diseas }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
