/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;


[class$="__title"] {
  background-color: transparent !important;
  border: 2px solid $dashboard-admin-titles !important;
}

.personal-info {
  border: 2px solid $dashboard-admin-titles;
  border-radius: 17px;
  padding: 20px 10px;
  margin-bottom: 20px;
}
