@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;


.done-word{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  &__h1{
    color: $white;
    font-family: map-get($map: $fonts, $key: headingFont);
    margin: 8rem 0;
  }
}
