/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

.reset-password__content {
  &__title {
    position: absolute;
    color: $white;
    font-family: map-get($fonts, paragraphFont);
    right: 5vw;
    top: 4vw;
    font-size: 3vw;
    letter-spacing: 2.44px;
  }
  &__image-div {
    width: 19vw;
    margin: auto;
    &__img {
      width: 100%;
    }
  }
  &__form {
    width: 70%;
    margin: 0px auto 0 auto;

    @include screen(xxs) {
      width: 90%;
      margin: 30px auto 0 auto;
    }
    @include custem-screen(xs, md) {
      width: 80%;
      margin: 30px auto 0 auto;
    }
    @include screen(md) {
      width: 70%;
      margin: 23px auto 0 auto;
    }
    label {
      font-size: 2vw;
      font-family: map-get($fonts, headingFont);
      color: $black;
      text-transform: capitalize;
      margin: 0 0 17px 17px;
      @include BreakPoint(sm){
        font-size: 3vw;
      }
    }
  }
}
