/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

.reset-password__content {
  &__form {
    width: 70%;
    margin: 0px auto 0 auto;

    @include screen(xxs) {
      width: 90%;
      margin: 30px auto 0 auto;
    }
    @include custem-screen(xs, md) {
      width: 80%;
      margin: 30px auto 0 auto;
    }
    @include screen(md) {
      width: 70%;
      margin: 23px auto 0 auto;
    }
    /* Input properities was taken from global*/
    label {
      font-size: 28px;
      font-family: map-get($fonts, headingFont);
      color: $black;
      text-transform: capitalize;
      margin: 0 0 17px 17px;
      @include screen(lg) {
        font-size: 20px;
      }
      @include screen(sm) {
        font-size: 23px;
      }
      @include screen(xs) {
        font-size: 20px;
      }
      @include screen(xxs) {
        font-size: 16px;
      }
      @include screen(xlg) {
        font-size: 25px;
      }
    }
  }
}
