<div class="reset-password__content">
  <div class="row">
    <div class="col-12">
      <div class="reset-password__content__title">
        <p class="reset-password__content__title__p">Reset Password</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="reset-password__content__image-div">
        <img class="reset-password__content__image-div__img"
          src="../../../../../assets//Login/Forgot password-pana.svg" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <form class="reset-password__content__form">
        <div class="ID mb-5 reset-password__content__form__input-div">
          <label for="yourNumber">Enter Your Phone Number</label>
          <input class="form-control" id="yourNumber" type="text" placeholder="Default input"
            aria-label="default input example" placeholder="x xxx xxx xxx">
        </div>
        <button type="submit" class="btn btn-primary reset-password__content__form__button"
          (click)="ToGeneratePinCode()">Generate Code</button>
      </form>
    </div>
