<div class="row">
  <div class="col-8 offset-2">
    <div class="dashboard__component-icons">
      <div class="dashboard__component-icons__div-icon">
        <i class="bi bi-fingerprint dashboard__component-icons__div-icon__i"></i>
      </div>
      <div class="dashboard__component-icons__div-icon">
        <i class="bi bi-journal-check dashboard__component-icons__div-icon__i"></i>
      </div>
      <div class="dashboard__component-icons__div-icon">
        <i class="bi bi-journal-check dashboard__component-icons__div-icon__i"></i>
      </div>
      <div class="dashboard__component-icons__div-icon">
        <i class="bi bi-check-lg dashboard__component-icons__div-icon__i"></i>
      </div>
    </div>
  </div>
</div>
