<section class="login-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="login-content">
          <div class="row">
            <div class="col-12">
              <div class="login-background">
                <div class="title">
                  <p>Login</p>
                </div>
                <img src="../../../../../assets/Login/Path on login (2).svg" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="login-img">
                <img src="../../../../../assets/Login/Computer login-pana.svg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <form class="main-login-form">
                <div class="ID mb-5">
                  <input class="form-control" type="text" placeholder="Default input" aria-label="default input example" placeholder="YOUR ID">
                </div>
                <div class="password mb-5 pb-4">
                  <input type="password" class="form-control mb-4" id="exampleInputPassword1" placeholder="PASSWORD">
                  <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt="" class="password-icon">
                  <a href="#" class="reset">Reset Password?</a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
