/*
  ==========================================================================
                    Login
  =========================================================================
*/
/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

/*==============================================================================
              Login form
===============================================================================*/
.login-password-section {
  .login-password-image-div {
    margin: auto;
    width: 545.28px;
    /*=========================== Media query for login-password-section -> login-password-content -> login-password-image-div ============================*/
    @include screen(xxs) {
      width: 140px;
    }
    @include screen(xs) {
      width: 200px;
    }
    @include screen(sm) {
      width: 300.03px;
    }
    @include screen(md) {
      width: 318px;
    }
    @include custem-screen(lg, xxlg) {
      width: 380.28px;
    }
    /*====================================================================================================*/
    .login-password-image-img {
      width: 100%;
    }
  }
  .main-login-password-form {
    width: 80%;
    margin: 50px auto 0 auto;
    @include custem-screen(xxs, lg) {
      width: 70%;
      margin: 23px auto 0 auto;
    }
    .input-parent-div {
      @include screen(xxs) {
        margin-bottom: 10px !important;
      }
      @include screen(xs) {
        margin-bottom: 15px !important;
      }
      @include screen(sm) {
        margin-bottom: 16px !important;
      }
      @include screen(md) {
        margin-bottom: 18px !important;
      }
      @include screen(xlg) {
        margin-bottom: 18px !important;
      }
      input {
        height: 69px;
        border-radius: 17px;
        font-size: 20px;
        padding: 0 26px;
        border: none;
        outline: none;
        background-color: $nav-dropdown;

        /*=========================== Media query for login-password-section -> login-password-content -> main-login-password-form -> input ============================*/
        @include screen(xxs) {
          height: 35px;
          font-size: 12px;
          border-radius: 9px;
        }
        @include screen(xs) {
          height: 40px;
          font-size: 14px;
          border-radius: 12px;
        }
        @include custem-screen(md, xlg) {
          height: 60px;
          font-size: 19px;
        }
        @include screen(sm) {
          height: 45px;
          font-size: 16px;
        }
        @include screen(xlg) {
          height: 60px;
          font-size: 16px;
        }
        /*================================================================================================================*/

        &::placeholder {
          color: $gray-color;
          /*=========================== Media query for login-password-section -> login-password-content -> main-login-password-form -> input -> placeholder ============================*/
          @include screen(xxs) {
            font-size: 14px;
          }
          @include screen(xs) {
            font-size: 14px;
          }
          @include screen(sm) {
            font-size: 15px;
          }
          @include screen(md) {
            font-size: 16px;
          }
          @include screen(lg) {
            font-size: 17px;
          }
          @include screen(xlg) {
            font-size: 18px;
          }
          /*================================================================================================================*/
        }
        &#exampleInputPassword1 {
          @include screen(xs) {
            margin-bottom: 10px !important;
          }
        }
      }
      &.password {
        position: relative;

        /*=========================== Media query for login-password-section -> login-password-content -> main-login-password-form -> password   ============================*/

        /*================================================================================================================*/
        .reset {
          float: right;
          font-size: 20px;
          color: $black;
          /*=========================== Media query for login-password-section -> login-password-content -> main-login-password-form -> password -> reset  ============================*/
          @include screen(xxs) {
            font-size: 14px;
          }
          @include screen(xs) {
            font-size: 14px;
          }
          @include screen(sm) {
            font-size: 16px;
          }
          @include custem-screen(md, xlg) {
            font-size: 19px;
          }
          /*================================================================================================================*/
        }
        .password-icon {
          position: absolute;
          width: 31.33px;
          height: 31.46px;
          top: 18px;
          right: 21px;
          /*=========================== Media query for login-password-section -> login-password-content -> main-login-password-form -> password -> password-icon  ============================*/
          @include screen(xxs) {
            width: 15.33px;
            height: 15.46px;
            right: 19px;
            top: 13px;
          }
          @include custem-screen(xs, md) {
            width: 20.33px;
            height: 20.46px;
            right: 19px;
            top: 11px;
          }
          @include screen(md) {
            width: 25.33px;
            height: 25.46px;
            right: 19px;
          }
          @include screen(lg) {
            width: 30.33px;
            height: 31.46px;
            top: 13px;
            right: 21px;
          }
          @include screen(xlg) {
            width: 30.33px;
            height: 31.46px;
            top: 14px;
          }
          /*================================================================================================================*/
        }
      }
    }
    .btn {
      width: 100%;
      height: 69px;
      border-radius: 17px !important;
      font-size: 23px;
      background: transparent linear-gradient(99deg, #7380f2 0%, #5c5b99 100%)
        0% 0% no-repeat padding-box;
      /*=========================== Media query for login-password-section -> login-password-content -> main-login-password-form -> btn  ============================*/
      @include screen(xxs) {
        height: 40px;
        font-size: 14px;
        border-radius: 12px;
      }
      @include screen(xs) {
        height: 45px;
        font-size: 16px;
      }
      @include screen(sm) {
        font-size: 18px;
        height: 50px;
      }
      @include screen(md) {
        font-size: 22px;
        height: 59px;
      }
      @include screen(lg) {
        height: 60px;
        font-size: 20px;
      }
      @include screen(xlg) {
        height: 60px;
        font-size: 20px;
      }
      /*================================================================================================================*/
    }
  }
}
