<section class="login-password-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="login-password-content">
          <div class="row">
            <div class="col-12">
              <div class="login-password-background">
                <div class="login-password-title">
                  <p class="login-password-title-p">Login</p>
                </div>
                <img class="login-password-background-img" src="../../../../../assets/Login/Path on login (2).svg"
                  alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="login-password-image-div">
                <img class="login-password-image-img" src="../../../../../assets/Login/Computer login-pana.svg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <form class="login-password-form">
                <div class="ID mb-4 input-parent-div">
                  <input class="form-control" type="text" placeholder="Default input" aria-label="default input example"
                    placeholder="Your ID">
                </div>
                <div class="password mb-4 pb-3 input-parent-div">
                  <input type="password" class="form-control mb-3" id="exampleInputPassword1" placeholder="Password">
                  <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt="" class="password-icon">
                  <a routerLink="/Login/reset-password" class="reset">Reset Password?</a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-auth-card [ClassName]="'login'" [ImgUrl]="'../../../../../assets/Login/Computer login-pana.svg'">
  <form class="login-password-form">
    <div class="ID mb-4 input-parent-div">
      <input class="form-control" type="text" placeholder="Default input" aria-label="default input example"
        placeholder="Your ID">
    </div>
    <div class="password mb-4 pb-3 input-parent-div">
      <input type="password" class="form-control mb-3" id="exampleInputPassword1" placeholder="Password">
      <img src="../../../../../assets/icons/Icon awesome-eye-slash.svg" alt="" class="password-icon">
      <a routerLink="/Login/reset-password" class="reset">Reset Password?</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</app-auth-card> -->
