<form class="personal-info">
  <div class="row">
    <div class="col-6">
      <div class="personal-info__content">
        <div class="row">
          <div class="col-12">
            <div class="personal-info__content__generate-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__generate-information__title">
                    <p class="personal-info__content__generate-information__title__p">
                      General Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__generate-information__form">
                    <!-- full name -->
                    <div class="my-3 personal-info__content__generate-information__form__full-name">
                      <label for="fullName"
                        class="form-label personal-info__content__generate-information__form__full-name__label">Full
                        Name</label>
                      <input type="text"
                        class="form-control personal-info__content__generate-information__form__full-name__input"
                        id="fullName" placeholder="Ammmr mahmoud">
                    </div>
                    <!-- Check gender -->
                    <div class="personal-info__content__generate-information__form__form-check-parent">
                      <label for="ratio-check"
                        class="form-label d-block personal-info__content__generate-information__form__form-check-parent__label">
                        Gender</label>

                      <div class="personal-info__content__generate-information__form__form-check-parent__checks mb-3"
                        id="ratio-check">
                        <div
                          class="personal-info__content__generate-information__form__form-check-parent__checks__check my-2"
                          id="ratio-check">
                          <input
                            class="form-check-input personal-info__content__generate-information__form__form-check-parent__checks__check__input-ratio"
                            type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label
                            class="form-check-label personal-info__content__generate-information__form__form-check-parent__checks__check__label-ratio"
                            for="flexRadioDefault1">
                            Male
                          </label>
                        </div>
                        <div class="personal-info__content__generate-information__form__form-check-parent__check">
                          <input
                            class="form-check-input form-check-parent-input personal-info__content__generate-information__form__form-check-parent__checks__check__input-ratio"
                            type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                          <label
                            class="form-check-label personal-info__content__generate-information__form__form-check-parent__checks__check__label-ratio"
                            for="flexRadioDefault2">
                            Female
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- check nationality -->
                    <div class="input-group my-3 personal-info__content__generate-information__form__nationality">
                      <label for="fullName"
                        class="form-label personal-info__content__generate-information__form__nationality__label">Nationality</label>
                      <div class="personal-info__content__generate-information__form__nationality__inputs">
                        <input type="text"
                          class="form-control personal-info__content__generate-information__form__nationality__inputs__input"
                          placeholder="Egyption" aria-label="Egyption">
                        <input type="text"
                          class="form-control personal-info__content__generate-information__form__nationality__inputs__input"
                          placeholder=" 3014 353 235 1234 " aria-label="Server">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">Bassem</div>
  </div>
</form>
