<form class="personal-info" [formGroup]="userForm" (change)="FormEdited()" novalidate>
  <div class="row">
    <div class="col-6">
      <div class="personal-info__content">
        <div class="row">
          <div class="col-12">
            <!-- general information -->
            <div class="personal-info__content__generate-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__generate-information__title">
                    <p class="personal-info__content__generate-information__title__p">
                      General Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__generate-information__form">
                    <!-- full name -->
                    <div class="my-3 personal-info__content__generate-information__form__full-name">
                      <label for="fullName" class="form-label personal-info__content__generate-information__form__full-name__label">
                        Full Name
                      </label>
                      <input name="fullName" type="text" class="form-control personal-info__content__generate-information__form__full-name__input"
                      id="fullName" placeholder="Ammmr mahmoud" formControlName="fullName" />
                      <app-validation-errors-component [Form]="userForm" [control]="'fullName'" [minLength]="3"
                        [massegeError]="massegeError" *ngIf="userForm.controls['fullName'].touched || formSubmited">
                      </app-validation-errors-component>
                    </div>
                    <!-- Check gender -->
                    <div class="personal-info__content__generate-information__form__form-check-parent">
                      <label for="ratio-check" class="form-label d-block personal-info__content__generate-information__form__form-check-parent__label">
                        Gender
                      </label>
                      <div class="personal-info__content__generate-information__form__form-check-parent__checks mb-3" id="ratio-check">
                        <div class="personal-info__content__generate-information__form__form-check-parent__checks__check my-2" id="ratio-check">
                          <input
                            class="form-check-input personal-info__content__generate-information__form__form-check-parent__checks__check__input-ratio"
                            type="radio" id="male" name="gender" value="male" formControlName="gender" checked/>
                          <label class="form-check-label personal-info__content__generate-information__form__form-check-parent__checks__check__label-ratio" for="male">
                            Male
                          </label>
                          <app-validation-errors-component [Form]="userForm" [control]="'gender'"
                            [massegeError]="massegeError" *ngIf="userForm.controls['gender'].touched || formSubmited">
                          </app-validation-errors-component>
                        </div>
                        <div class="personal-info__content__generate-information__form__form-check-parent__check">
                          <input class="form-check-input form-check-parent-input personal-info__content__generate-information__form__form-check-parent__checks__check__input-ratio"
                            type="radio" id="female" value="female"  name="gender" formControlName="gender" />
                          <label
                            class="form-check-label personal-info__content__generate-information__form__form-check-parent__checks__check__label-ratio" for="female">
                            Female
                          </label>
                          <app-validation-errors-component [Form]="userForm" [control]="'gender'"
                            [massegeError]="massegeError" *ngIf="userForm.controls['gender'].touched || formSubmited">
                          </app-validation-errors-component>
                        </div>
                      </div>
                    </div>
                    <!-- check nationality -->
                    <div class="input-group mb-3 personal-info__content__generate-information__form__nationality-content-fields">
                      <div class="my-3 personal-info__content__generate-information__form__nationality-content-fields__field">
                        <label for="nationality" class="form-label personal-info__content__generate-information__form__nationality-content-fields__field__label">
                          Nationality
                        </label>
                        <input type="text" id="nationality" formControlName="nationality" class="form-control personal-info__content__generate-information__form__nationality-content-fields__field__input"
                          placeholder="Egyption" aria-label="egyption"/>
                        <app-validation-errors-component [Form]="userForm" [control]="'nationality'" [minLength]="5"
                          [pattern]="'Egyption'" [massegeError]="massegeError" *ngIf="userForm.controls['nationality'].touched || formSubmited">
                        </app-validation-errors-component>
                      </div>
                      <div class="my-3 personal-info__content__generate-information__form__nationality-content-fields__field">
                        <label for="id" class="form-label personal-info__content__generate-information__form__nationality-content-fields__field__label">
                          ID
                        </label>
                        <input type="text" id="id" formControlName="id" class="form-control personal-info__content__generate-information__form__nationality-content-fields__field__input"
                          placeholder=" 3014 353 235 1234 " aria-label="id" />
                        <app-validation-errors-component [Form]="userForm" [control]="'id'" [minLength]="14"
                          [maxLength]="14" [pattern]="'Numbers'" [massegeError]="massegeError" *ngIf="userForm.controls['id'].touched || formSubmited">
                        </app-validation-errors-component>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Birthday information -->
            <div class="personal-info__content__Birthday-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Birthday-information__title">
                    <p class="personal-info__content__Birthday-information__title__p">
                      Birth Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Birthday-information__form">
                    <!-- check Birthday -->
                    <div class="input-group mb-3 personal-info__content__Birthday-information__form__Birthday-content-fields">
                      <div class="my-3 personal-info__content__Birthday-information__form__Birthday-content-fields__field">
                        <label for="birthPlace" class="form-label personal-info__content__Birthday-information__form__Birthday-content-fields__field__label">Birth
                          Place
                        </label>
                        <input type="text" id="birthPlace" formControlName="birthPlace"
                          class="form-control personal-info__content__Birthday-information__form__Birthday-content-fields__field__input"
                          placeholder="Cairo" aria-label="birth Place" />
                        <app-validation-errors-component [Form]="userForm" [control]="'birthPlace'"
                          [massegeError]="massegeError" *ngIf="userForm.controls['birthPlace'].touched || formSubmited">
                        </app-validation-errors-component>
                      </div>
                      <div class="my-3 personal-info__content__Birthday-information__form__Birthday-content-fields__field">
                        <label for="BirthDate" class="form-label personal-info__content__Birthday-information__form__Birthday-content-fields__field__label">Birth
                          Date
                        </label>
                        <input type="date" id="birthDate" formControlName="birthDate" class="form-control personal-info__content__Birthday-information__form__Birthday-content-fields__field__input"
                          aria-label="birth Date" />
                        <i class="bi bi-calendar2-week personal-info__content__Birthday-information__form__Birthday-content-fields__field__i pb-3"></i>
                        <app-validation-errors-component [Form]="userForm" [control]="'birthDate'"
                          [massegeError]="massegeError" *ngIf="userForm.controls['birthDate'].touched || formSubmited">
                        </app-validation-errors-component>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Connection Information -->
            <div class="personal-info__content__Connection-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Connection-information__title">
                    <p class="personal-info__content__Connection-information__title__p">
                      Birth Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Connection-information__form">
                    <!-- check Connection -->
                    <!-- Phone -->
                    <div class="my-3 personal-info__content__Connection-information__form__phone">
                      <label for="phone" class="form-label personal-info__content__Connection-information__form__phone__label">
                        Phone
                      </label>
                      <input type="text" formControlName="phone" class="form-control personal-info__content__Connection-information__form__phone__input"
                        id="phone" placeholder="01003623286" />
                      <app-validation-errors-component [Form]="userForm" [control]="'phone'" [minLength]="10"
                        [maxLength]="10" [pattern]="'loaded without the first 0'" [massegeError]="massegeError" *ngIf="userForm.controls['phone'].touched || formSubmited">
                      </app-validation-errors-component>
                    </div>
                    <!-- Email -->
                    <div class="my-3 personal-info__content__Connection-information__form__email">
                      <label for="email" class="form-label personal-info__content__Connection-information__form__email__label">
                        Email
                      </label>
                      <input type="email" formControlName="email" class="form-control personal-info__content__Connection-information__form__email__input" email
                        id="email" placeholder="name@example.com" email />
                      <app-validation-errors-component [Form]="userForm" [pattern]="'valid email'" [control]="'email'"
                        [massegeError]="massegeError"  *ngIf="userForm.controls['email'].touched || formSubmited">
                      </app-validation-errors-component>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="personal-info__content">
        <div class="row">
          <div class="col-12">
            <!-- Address Information -->
            <div class="personal-info__content__Address-information">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Address-information__title">
                    <p class="personal-info__content__Address-information__title__p">
                      Address Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Address Information -->
                  <div class="personal-info__content__Address-information__form">
                    <!-- Current Address -->
                    <div class="my-3 personal-info__content__Address-information__form__current-address">
                      <label for="current-address" class="form-label personal-info__content__Address-information__form__current-address__label">
                        Current Street
                      </label>
                      <input type="text" formControlName="street" class="form-control personal-info__content__Address-information__form__current-address__input"
                        id="current-address" placeholder="Ismailia, Hospital street, next to post office" />
                      <app-validation-errors-component [Form]="userForm" [control]="'street'"
                        [massegeError]="massegeError" *ngIf="userForm.controls['street'].touched || formSubmited">
                      </app-validation-errors-component>
                    </div>
                    <!-- Current City -->
                    <div class="my-3 personal-info__content__Address-information__form__current-address">
                      <label for="current-address" class="form-label personal-info__content__Address-information__form__current-address__label">
                        Current Address
                      </label>
                      <input type="text" class="form-control personal-info__content__Address-information__form__current-address__input"
                        id="current-address" placeholder="Ismailia" formControlName="address" name="address" />
                      <app-validation-errors-component [Form]="userForm" [control]="'address'"
                        [massegeError]="massegeError" *ngIf="userForm.controls['address'].touched || formSubmited">
                      </app-validation-errors-component>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Health Information -->
            <div class="personal-info__content__Health-information mt-3">
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Health-information__title">
                    <p class="personal-info__content__Health-information__title__p">
                      Health Information
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Health Information -->
                  <div class="personal-info__content__Health-information__form">
                    <!-- Diseases -->
                    <div class="my-3 personal-info__content__Health-information__form__Diseases">
                      <label for="Diseases" class="form-label personal-info__content__Health-information__form__Diseases__label">
                        Diseases
                      </label>
                      <input type="text" class="form-control personal-info__content__Health-information__form__Diseases__input"
                        name="diseases" #diseases id="diseases" placeholder="add diseases" formControlName="diseases"
                        (keydown.enter)="AddDiseases(diseases)" />
                      <app-validation-errors-component [Form]="userForm" [control]="'diseases'"
                        [massegeError]="massegeError" *ngIf="userForm.controls['diseases'].touched || formSubmited">
                      </app-validation-errors-component>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="personal-info__content__Health-information__form-diseases-result">
                    <div class="row" *ngIf="diseasesSubject$ | async as diseases">
                      <div class="col-lg-3 mt-2 me-5" *ngFor="let diseas of diseases">
                        <div class="personal-info__content__Health-information__form-diseases-result__diseas">
                          <p class="personal-info__content__Health-information__form-diseases-result__diseas__p">
                            {{ diseas }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
