/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;



.personal-info {
  font-family: map-get($map: $fonts, $key: paragraphFont);
  color: $white;
  flex: content;
  &__content {
    padding: 0 40px;
    &__generate-information {
      &__form {
        &__form-check-parent {
          display: flex;
          flex-direction: column;
          &__checks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 12rem;
            &__check {
              &__input-ratio {
                margin-right: 0.5rem;
                border: 3px solid $gray-color;
                background-color: $dashboard-admin;
                &:focus {
                  box-shadow: 0 0 0 !important;
                }
              }
              &__label-ratio {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
    &__Birthday-information {
      &__form {
        &__Birthday-content-fields {
          &__field {
            &__i {
              position: absolute;
              bottom:1.2rem;
              right: 0;
              font-size: 1.4rem;
              pointer-events: none;
              color: $dashboard-admin-titles;
            }
          }
        }
      }
    }
    &__Health-information{
      &__form-diseases-result{
        &__diseas{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;

          &__p{
            background-color: $white;
            color: $dashboard-admin-titles;
            margin: 0 !important;
            padding: 6px 22px !important;
            font-size: 1rem !important;
            border-radius: 8px !important;
          }
        }
      }

    }
  }
}
