/* import colors and mixins*/
@use "~../../../../../../scss/helpers/colors" as *;
@use "~../../../../../../scss/helpers/mixins" as *;

.active {
  box-shadow: 0px 0px 10px #6c5dd3;
  background-color: #6c5dd3;
  border-radius: 14px;
}
.custem-col-sidebar {
  padding-right: 4rem;
  @include custem-screen(lg, xxlg) {
    padding-right: 2rem;
  }
}
.custem-dashboard-style {
  background: #1d2433 0% 0%;
  overflow-y: scroll;
  height: 81vh;
  @include BreakPoint(lg) {
    height: 79vh;
  }
}

.dashboard {
  &__sidebar {
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background: transparent
      linear-gradient(150deg, $dashboard-admin 0%, $black 100%) 0% 0%;
    background-color: $dashboard-admin;
    flex-wrap: wrap;
    padding: 1rem 0.8rem;
    @include BreakPoint(lg) {
      min-height: 79vh;
    }
    &__content {
      &__logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        &__imgDiv {
          width: 30%;
          &__img {
            max-width: 100%;
            width: 100%;
            height: 100%;
          }
        }
        &__h3 {
          font-size: 1.3vw;
          a {
            color: $dashboard-admin-titles;
            font-family: map-get($fonts, labelFont);
          }
        }
      }
      &__list {
        font-family: map-get($map: $fonts, $key: paragraphFont);
        &__title {
          font-size: 1.5rem;
          color: $dashboard-admin-titles;
          font-weight: 600;
        }
        &__ul {
          list-style: none;
          padding: 0px 31px 0 0;
          color: $white;
          padding-left: 0;
          &__li {
            display: flex;
            flex-direction: row;
            z-index: 99;
            padding: 1rem 0;
            &__i {
              font-size: 1.2rem;
              margin: 0 1rem 0 0.8rem;
            }
            &__a {
              margin: 0;
              font-size: 1rem;
              text-decoration: none;
              cursor: pointer;
              color: white;
            }
          }
        }
      }
      &__logout {
        display: flex;
        align-items: center;
        width: 90%;
        border: 1px solid $dashboard-admin;
        background: transparent;
        padding: 1rem 10px 1rem 20px;
        border-radius: 10px;
        &__profileImg {
          width: 2rem;
          border-radius: 50%;
          margin-right: 20px;
          height: 2rem;
          &__img {
            max-width: 100%;
            border-radius: 50%;
          }
        }
        &__Ps {
          width: 100%;
          &__p {
            margin: 0 10px 0 0;
            font-size: 0.7vw;
            font-family: map-get($map: $fonts, $key: labelFont);
            color: $dashboard-admin-titles;
            font-weight: 700;
          }
        }
        &__i {
          color: $dashboard-admin-titles;
          margin-right: 1rem;
          font-size: 0.7rem;
        }
      }
    }
  }
  &__uploadedImgDiv {
    transition: all 3s ease-in-out;
    background-color: #6c5dd3;
    color: white;
    width: 38%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 27px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    &__title {
      h3 {
        font-family: map-get($map: $fonts, $key: headingFont);
      }
    }
  }
  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 117px 50px 0;
    &__title {
      font-size: 3rem;
      font-family: map-get($map: $fonts, $key: headingFont);
    }
    &__icons {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      &__i {
        font-size: 2rem;
        padding-right: 1rem;
      }
      &__profile {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        &__img {
          max-width: 100%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
