<section class="dashboard">
  <div class="container-fluid g-0">
    <!-- Sidebar -->
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-4 custem-col-sidebar">
        <div class="dashboard__sidebar">
          <!-- Sidebar content-->
          <div class="dashboard__sidebar__content">
            <!-- Sidebar title logo and h3-->
            <div class="dashboard__sidebar__content__logo">
              <!-- Sidebar title logo-->
              <div class="dashboard__sidebar__content__logo__imgDiv my-3">
                <img class="dashboard__sidebar__content__logo__imgDiv__img"
                  src="../../../../../assets/logo/Fingerprint_.png" alt="" />
              </div>
              <!-- Sidebar title h3-->
              <h3 class="dashboard__sidebar__content__logo__h3" [routerLink]="['/Home']">
                Fingerprint Authentication
              </h3>
            </div>
            <!-- Sidebar list of pages -->
            <div class="dashboard__sidebar__content__list">
              <!-- Sidebar list of pages title -->
              <p class="dashboard__sidebar__content__list__title">
                Admin tools
              </p>
              <!-- Sidebar ul list of pages -->
              <ul class="dashboard__sidebar__content__list__ul">
                <li class="dashboard__sidebar__content__list__ul__li" [routerLink]="['signup']"
                  routerLinkActive="active" [ngClass]="{'active' : router.url.includes('signup')}">
                  <i class="bi bi-person-check dashboard__sidebar__content__list__ul__li__i"></i>
                  <a class="dashboard__sidebar__content__list__ul__li__a">Sign Up for user</a>
                </li>
                <li class="dashboard__sidebar__content__list__ul__li" [routerLink]="['checkFingerprint']"
                  routerLinkActive="active" [ngClass]="{'active' : router.url.includes('profile')}">
                  <i class="bi bi-ui-checks dashboard__sidebar__content__list__ul__li__i"></i>
                  <a class="dashboard__sidebar__content__list__ul__li__a" (click)="formatUserInformation()">Check
                    Fingerprint</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Sidebar logout div  -->
          <div class="dashboard__sidebar__content__logout">
            <!-- Sidebar logout div img -->
            <div class="dashboard__sidebar__content__logout__profileImg">
              <img class="dashboard__sidebar__content__logout__profileImg__img"
                src="../../../../../assets/profile/profile.jpeg" alt="" />
            </div>
            <!-- Sidebar logout div paragraphs -->
            <div class="dashboard__sidebar__content__logout__Ps">
              <p class="dashboard__sidebar__content__logout__Ps__p">
                Ammmr Mahmoud
              </p>
              <p class="dashboard__sidebar__content__logout__Ps__p">
                3014 353 235 1234
              </p>
            </div>
            <!-- Sidebar logout div icon -->
            <i class="bi bi-caret-down-fill dashboard__sidebar__content__logout__i"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-8 col-8">
        <!-- Navbar -->
        <div class="row">
          <div class="col-12">
            <!-- dashboard navbar-->
            <div class="dashboard__navbar">
              <!-- dashboard navbar title -->
              <h1 class="dashboard__navbar__title">
                User Register
              </h1>
              <!-- dashboard navbar icons -->
              <div class="dashboard__navbar__icons">
                <i class="bi bi-bell dashboard__navbar__icons__i"></i>
                <i class="bi bi-gear dashboard__navbar__icons__i"></i>
                <div class="dashboard__navbar__icons__profile">
                  <img src="../../../../../assets/profile/profile.jpeg" alt=""
                    class="dashboard__navbar__icons__profile__img">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content of dashboard -->
        <div class="row">
          <div class="col-11 custem-dashboard-style disable-scrollbars" style="border-radius: 12px;">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
